.company-section {
	min-height: 720px;
  background-image: url("../images/gplay.png");
  background-repeat: repeat;
}
.company-section .page-title {
  text-align: center;
  margin-top: 80px;
}
.company-control {
  margin-top: 50px;
  margin-bottom: 20px;
}
.company-control .btn-submit {
  /*display: block;
  width: 100%;*/
  height: 40px;
  width: auto;
}
#company-table tbody td:second-child {
  text-align: left;
}
#company-table th {
  vertical-align: middle;
  background-color: #22A7F0;
  color: #fff;
  font-size: 16px;
}
#company-table th:first-child,
#company-table td:first-child,
#company-table td:last-child{
  text-align: center !important;
}
#company-table .fa-edit,
#company-table .fa-remove {
  cursor: pointer;
  font-size: 18px;
}
#company-table .fa-edit {
  color: #4BC800;
}
#company-table .fa-edit:hover {
  color: #54db01;
}
#company-table .fa-remove {
  color: #E00;
}
#company-table .fa-remove:hover {
  color: #FF0000;
}
#company-table .btn-submit {
  width: auto;
  color: #000;
  background-color: #fff;
  border-color: #adadad;
}
#company-table tr {
  background-color: #fff;
}
#company-table td {
  vertical-align: middle;
}
#company-table thead a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 12px;
}
#company-table thead th {
  padding: 0;
}
#company-table thead th:last-child {
  text-align: center;
}
/*.align-left {
  text-align: left;
}*/
#company-color {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #696969;
}
#new-company .modal-dialog,
#edit-company .modal-dialog {
  width: 50%;
}
#new-company .input-group,
#edit-company .input-group {
  width: 100%;
  /*box-shadow: 0.5px 0.5px 5px gray;*/
  height: 50px;
  margin: 0px auto;
}
#new-company .input-group-addon,
#edit-company .input-group-addon {
  font-size: 11px;
  text-align: center;
  height: 50px;
  padding: 0;
  background-color: #fff;
  border: none;
}

#new-company .input-group-addon button,
#edit-company .input-group-addon button {
  font-size: 16px;
}
#new-company .modal-footer,
#edit-company .modal-footer {
  padding: 0px;
  border: none;
}
#new-company .modal-title,
#edit-company .modal-title {
  text-align: left;
}
#new-company .glyphicon,
#edit-company .glyphicon {
  color: #000;
}
#new-company .btn-submit,
#edit-company .btn-submit {
  height: 40px;
}
.company-control .search-box {
  margin: 0;
  padding: 0;
}
.company-control .search-box .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
.company-control .search-box .input-group {
  width: 100%;
}
.company-control .search-box input {
  padding-left: 40px;
}
.company-control .search-box input,
.company-control .search-box button {
  height: 40px;
  width: 100%;
  border-radius: 0;
}
.company-control .search-box .input-group,
.company-control .search-box .input-group:focus {
  box-shadow: none;
}
tags-input .tags .input {
  font: inherit;
  width: 100% !important;
}
tags-input .tags .tag-item {
  background: transparent;
  background-color: #f06722 !important;
  color: #fff;
}
tags-input .tags .tag-item:hover {
  background: transparent;
  background-color: #ff6a20 !important;
  color: #fff;
}
tags-input .tags .tag-item:focus {
  background: transparent;
  background-color: #e05d1c !important;
  color: #fff;
}
.sortorder:after {
    content: '\25b2';
} 
.sortorder.reverse:after {
    content: '\25bc';
}

@media only screen and (min-width: 320px) {
  #new-company .input-group-addon input,
  #edit-company .input-group-addon input {
    font-size: 14px;
    height: 30px;
  }
  tags-input .tags {
    min-height: 30px;
  }
}

@media only screen and (min-width: 768px) {
  #new-company .input-group-addon input,
  #edit-company .input-group-addon input {
    font-size: 16px;
    height: 40px;
  }
  tags-input .tags {
    min-height: 40px;
  }
}

@media only screen and (min-width: 1024px) { 
  #new-company .input-group-addon input,
  #edit-company .input-group-addon input {
    font-size: 18px;
    height: 50px;
  }
  tags-input .tags {
    min-height: 50px;
  }
}

@media only screen and (min-width: 1900px) { 
  
}