.feedback-section {
  min-height: 720px;
  background-image: url("../images/gplay.png");
  background-repeat: repeat;
}
.feedback-section .page-title {
  text-align: center;
  margin-top: 80px;
}
.feedback-control {
  margin-top: 50px;
  margin-bottom: 20px;
}
.feedback-control .btn-submit {
  /*display: block;
  width: 100%;*/
  height: 40px;
  width: auto;
}
#feedback-table tbody td:second-child {
  text-align: left;
}
#feedback-table th {
  vertical-align: middle;
  background-color: #22A7F0;
  color: #fff;
  font-size: 16px;
}
#feedback-table th:first-child,
#feedback-table td:first-child,
#feedback-table td:last-child{
  text-align: center !important;
}
#feedback-table .fa-mail-reply,
#feedback-table .fa-remove {
  cursor: pointer;
  font-size: 18px;
}
#feedback-table .fa-mail-reply {
  color: #4BC800;
}
#feedback-table .fa-mail-reply:hover {
  color: #54db01;
}
#feedback-table .fa-remove {
  color: #E00;
}
#feedback-table .fa-remove:hover {
  color: #FF0000;
}
#feedback-table .btn-submit {
  width: auto;
  color: #000;
  background-color: #fff;
  border-color: #adadad;
}
#feedback-table tr {
  background-color: #fff;
}
#feedback-table td {
  vertical-align: middle;
}
#feedback-table thead a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 12px;
}
#feedback-table thead th {
  padding: 0;
}
#feedback-table thead th:last-child {
  text-align: center;
}
.feedback-control .search-box {
  margin: 0;
  padding: 0;
}
.feedback-control .search-box .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
.feedback-control .search-box .input-group {
  width: 100%;
}
.feedback-control .search-box input {
  padding-left: 40px;
}
.feedback-control .search-box input,
.feedback-control .search-box button {
  height: 40px;
  width: 100%;
  border-radius: 0;
}
.feedback-control .search-box .input-group,
.feedback-control .search-box .input-group:focus {
  box-shadow: none;
}
#reply-feedback button {
  width: 100%;
}
#reply-feedback .modal-dialog {
  width: 50%;
}
#reply-feedback .input-group input {
  width: 100%;
  height: 40px;
  margin: 0px auto;
}
#reply-feedback .input-group-addon {
  font-size: 11px;
  text-align: center;
  height: 50px;
  padding: 0;
  background-color: #fff;
  border: none;
}

#reply-feedback .input-group-addon button{
  font-size: 16px;
}
#reply-feedback .modal-footer{
  padding: 0px;
  border: none;
}
#reply-feedback .modal-title {
  text-align: left;
}
#reply-feedback .glyphicon{
  color: #000;
}
#reply-feedback .btn-submit{
  height: 40px;
}
#reply-feedback textarea {
  min-height: 200px;
  width: 100%;
  resize: vertical;
}