@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);

.jelly {
    font-size:24px;
    font-family: 'PT Sans Narrow', sans-serif;
    border: none;
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
    margin: 15px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700;
    outline: 0;
    position: relative;
    border-radius: 3px;
    background: #f06722;
    color: #fff !important;
    overflow: hidden;
    text-decoration: none !important;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
}

.jelly:active  {
    background: #4786b5;
}

.jelly:hover  {
    background: #ff6a20;
}

@-webkit-keyframes anim {
    5% {
    -webkit-transform: scale(1.1, .9);
    transform: scale(1.1, .9);
    }
    10% {
        -webkit-transform: scale(.9, 1.1) translateY(-.5rem);
        transform: scale(.9, 1.1) translateY(-.5rem);
    }
    15% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes anim {
    5% {
    -webkit-transform: scale(1.1, .9);
    transform: scale(1.1, .9);
    }
    10% {
        -webkit-transform: scale(.9, 1.1) translateY(-.5rem);
        transform: scale(.9, 1.1) translateY(-.5rem);
    }
    15% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media only screen and (max-width:640px) {  
    .jelly {
        padding: 25px 50px;
        font-size: 16px;
    }
}

.home-section .glyphicon{
    color: white;
}