.manage-user-section {
  min-height: 720px;
  background-image: url("../images/gplay.png");
  background-repeat: repeat;
}
.manage-user-section .page-title {
  text-align: center;
  margin-top: 80px;
}
.manage-user-control {
  margin-top: 50px;
  margin-bottom: 20px;
}
.manage-user-control .btn-submit {
  /*display: block;
  width: 100%;*/
  height: 40px;
  width: auto;
}
#manage-user-table tbody td:second-child {
  text-align: left;
}
#manage-user-table th {
  vertical-align: middle;
  background-color: #22A7F0;
  color: #fff;
  font-size: 16px;
}
#manage-user-table th:first-child,
#manage-user-table td:first-child,
#manage-user-table td:last-child{
  text-align: center !important;
}
#manage-user-table .fa-lock,
#manage-user-table .fa-unlock {
  cursor: pointer;
  font-size: 18px;
}
#manage-user-table .fa-unlock {
  color: #4BC800;
}
#manage-user-table .fa-unlock:hover {
  color: #54db01;
}
#manage-user-table .fa-lock {
  color: #E00;
}
#manage-user-table .fa-lock:hover {
  color: #FF0000;
}
#manage-user-table .btn-submit {
  width: auto;
  color: #000;
  background-color: #fff;
  border-color: #adadad;
}
#manage-user-table tr {
  background-color: #fff;
}
#manage-user-table td {
  vertical-align: middle;
}
#manage-user-table thead a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 12px;
}
#manage-user-table thead th {
  padding: 0;
}
#manage-user-table thead th:last-child {
  text-align: center;
}
.manage-user-control .search-box {
  margin: 0;
  padding: 0;
}
.manage-user-control .search-box .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
.manage-user-control .search-box .input-group {
  width: 100%;
}
.manage-user-control .search-box input {
  padding-left: 40px;
}
.manage-user-control .search-box input,
.manage-user-control .search-box button {
  height: 40px;
  width: 100%;
  border-radius: 0;
}
.manage-user-control .search-box .input-group,
.manage-user-control .search-box .input-group:focus {
  box-shadow: none;
}

.manage-user-section .view-status select {
  background-color: #fff;
  box-shadow: 0px 0px 3px #22A7F0;
  border: none;
  padding-left: 5px;
  height: 40px;
}
