.new-project-section {
	min-height: 720px;
	background-image: url("../images/gplay.png");
  	background-repeat: repeat;
}
.new-project-section .btn {
	border-radius: 3px;
}
.new-project-section h4 {
	color: red;
	text-align: center;
}
.new-project-section .page-title {
	text-align: center;
	margin-top: 80px;
}
.new-project-form {
	margin-top: 50px;
}
.new-project-form #loading-backdrop .cg-busy-animation {
	text-align: center;
}
.new-project-form label {
	text-align: left !important;
}
.new-project-form #select-company {
	height: 30px;
  	width: 100%;
  	background-color: #fff;
  	box-shadow: 0px 0px 3px #22A7F0;
  	border: none;
  	padding-left: 5px;
}
.new-project-form #client .ui-select-match-item {
	background-color: #f06722;
	color: #fff;
}
.new-project-form #client .ui-select-match-item:hover {
	background-color: #ff6a20;
	color: #fff;
}
.new-project-form #client .ui-select-match-item:focus {
	background-color: #e05d1c;
	color: #fff;
}
.new-project-form #team .ui-select-match-item {
	background-color: #af22f0;
	color: #fff;
}
.new-project-form #team .ui-select-match-item:hover {
	background-color: #be26ff;
	color: #fff;
}
.new-project-form #team .ui-select-match-item:focus {
	background-color: #ad23e8;
	color: #fff;
}
.new-project-form textarea {
	min-height: 100px;
  	width: 100%;
	resize: vertical;
}
.new-project-form .create {
	margin-bottom: 50px;
}
.new-project-form .progress {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.form-control[disabled] {
	height: 30px;
}
#team .ui-select-bootstrap {
	width: 100% !important;
}
select option:empty { 
	display:none;
}
.new-project-form div #project-color{
  height: 35px;
  width: 70px;
}

.new-project-form #project-color .glyphicon{
  margin: auto 0px;
  margin-top: 10px;
  font-size: 12px;
}

.new-project-form #project-color button{
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  padding: 0;
  border-radius: 3px;
}
.new-project-form .project-color-div{
  height: 25px;
}
.new-project-form .project-color-div button{
  /*background-color: black;*/
  border-radius: 2px;
}
.new-project-form #project-color-div{
  /*background-color: rgb(77, 195, 255); */
  height: 35px; 
  width: 70px;
  border-radius: 3px; 
}

@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) { 

}

@media only screen and (min-width: 1900px) { 
	
}