.pricing-table .plan {
  text-align: center;
  background-color: #f3f3f3;
}
 
.plan:hover {
  background-color: #fff;
  -moz-box-shadow: 0 0 12px 3px #b0b2ab;
  -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
  box-shadow: 0 0 12px 3px #b0b2ab;
}

.plan {
    /*width: 20vw;*/
    margin-bottom: 80px !important;
    margin-left: 15%;
    margin-right: 15%;
}

.plan-name-bronze,
.plan-name-silver,
.plan-name-gold {
  color: #fff;
  padding: 20px;
  height: 150px;
  background-color: #f0ce22;
  overflow: hidden;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.2);
}
  
.plan-name-silver {
  background-color: #f06722;
}
  
.plan-name-gold {
  background-color: #af22f0;
} 
  
.pricing-table-bronze  {
  padding: 20px;
  color: #fff;
  background-color: #f89406;
}
  
.pricing-table .plan .plan-name span {
  font-size: 20px;
}
 
.pricing-table .plan ul {
  list-style: none;
  margin: 0;
}
 
.pricing-table .plan ul li.plan-feature {
  padding: 15px 10px;
  border-bottom: 1px solid #c5c8c0;
  margin-right: 35px;
}

.pricing-table .plan ul li.plan-feature:last-child {
    border-bottom: 0;
}

.pricing-three-column {
  margin: 0 auto;
  /*max-width: 90vw;*/
}

/*.pricing-three-column .col-md-4, 
.pricing-three-column .col-lg-4 {
  width: 30%;
}*/
 
.pricing-variable-height .plan {
  float: none;
  margin-left: 2%;
  vertical-align: bottom;
  display: inline-block;
  zoom:1;
  *display:inline;
}
 
.plan-mouseover .plan-name {
  background-color: #fff !important;
}
 
.btn-plan-select {
  padding: 8px 25px;
  font-size: 18px;
}