#profileModal .modal-dialog{
	width: 50%;
}
#profileModal input {
	border-radius: 3px;
	height: 50px;
}
#profileModal .btn,
#profileModal .btn-submit {
	height: 40px;
}
#profileModal .progress {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 320px) {
	#profileModal input {
		height: 30px;
	}
}

@media only screen and (min-width: 768px) {
	#profileModal input {
		height: 40px;
	}
}

@media only screen and (min-width: 1024px) { 
	#profileModal input {
		height: 50px;
	}
}

@media only screen and (min-width: 1900px) { 
  
}