.project-section {
	min-height: 720px;
  background-image: url("../images/gplay.png");
  background-repeat: repeat;
}
.project-section .page-title {
  text-align: center;
  margin-top: 80px;
}
.project-section .project-control {
  margin-top: 50px;
  margin-bottom: 20px;
}
.project-section .project-control .btn-submit {
  /*display: block;*/
  width: auto;
  height: 40px;
}
.project-section .view-companies ui-select{
  /*display: inline-block;*/
  /*width: 100%;*/
}
.project-section .view-companies select {
	width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 3px #22A7F0;
  border: none;
  padding-left: 5px;
}
.project-section .view-companies .ui-select-container .ui-select-match .form-control,
.project-section .view-companies select {
  height: 40px;
}
.project-section #project-table tbody td:second-child {
  text-align: left;
}
.project-section #project-table th {
  vertical-align: middle;
  background-color: #22A7F0;
  color: #fff;
  font-size: 16px;
}
.project-section #project-table th:first-child,
.project-section #project-table td:first-child,
.project-section #project-table td:last-child{
  text-align: center !important;
}
.project-section #project-table .fa-edit,
.project-section #project-table .fa-remove {
  cursor: pointer;
  font-size: 18px;
}
.project-section #project-table .fa-edit {
  color: #4BC800;
}
.project-section #project-table .fa-edit:hover {
  color: #54db01;
}
.project-section #project-table .fa-remove {
  color: #E00;
}
.project-section #project-table .fa-remove:hover {
  color: #FF0000;
}
.project-section #project-table .btn-submit {
  width: auto;
  color: #000;
  background-color: #fff;
  border-color: #adadad;
}
.project-section #project-table tr,
.project-section .view-companies {
  background-color: #fff;
}
.project-section #project-table td {
  vertical-align: middle;
}
.project-section .align-left {
  text-align: left;
}
.project-section #project-color {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  /*box-shadow: 0px 0px 5px #696969;*/
}
.project-section .sortorder:after {
    content: '\25b2';
} 
.project-section .sortorder.reverse:after {
    content: '\25bc';
}
.project-section #project-table thead a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 12px;
}
.project-section #project-table thead th {
  padding: 0;
}
.project-section .align-center,
.project-section #project-table thead th:last-child {
  text-align: center;
}
.project-section .search-box {
  margin: 0;
  padding: 0;
}
.project-section .search-box .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
.project-section .search-box .input-group {
  width: 100%;
}
.project-section .search-box input {
  padding-left: 40px;
}
.project-section .search-box input,
.project-section .search-box button {
  height: 40px;
  width: 100%;
  border-radius: 0;
}
.project-section .search-box .input-group,
.project-section .search-box .input-group:focus {
  box-shadow: none;
}