.report-section {
	min-height: 720px;
	background-image: url("../images/gplay.png");
	background-repeat: repeat;
}
.report-section .page-title {
	text-align: center;
	margin-top: 80px;
}
.report-control {
  	/*margin-top: 50px;*/
  	margin-bottom: 20px;
}
.report-control .btn-submit {
  width: 100%;
  display: block;
}
.report-control .btn-group {
  width: 100%;
}
.report-control .chart-title {
	margin-bottom: 20px;
}
.report-control .chart-desc {
	/*text-align: left;*/
}
.report-control .chart-side {
	padding: 20px;
}
.report-control .chart-wrapper {
	padding: 20px;
}
.report-control .chart-content #select-view,
.report-control .chart-content #select-company {
	height: 30px;
  	width: 100%;
  	background-color: #fff;
  	box-shadow: 0px 0px 3px #22A7F0;
  	border: none;
  	padding-left: 5px;
}
#filter-region {
	background-color: #fff;
	display: block;
	height: 50px;
	box-shadow: 0px 0px 6px #B5B5B5;
	box-sizing: border-box;
}
#filter-region ul {
	list-style-type: none;
}
#filter-region .multiselect-parent,
#filter-region .multiselect-parent .btn-default {
	height: 50px;
	width: 100%;
}
#filter-region .group-filter {
	height: 50px;
    display: table;
}
#filter-region .group-filter .group-filter-child {
	height: 50px;
	display: table-cell;
	width: 33.33333%;
}
#filter-region .group-filter .group-filter-child button {
	background-color: #fff;
	border-radius: 0;
}
#filter-region .group-filter .group-filter-child:first-child button {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
#filter-region .group-filter .group-filter-child .dropdown-header {
	padding: 3px 9px;
}
#filter-region .group-filter .group-filter-child .dropdown-header input{
	border-radius: 3px;
}
#filter-region .group-filter .group-filter-child .glyphicon-ok {
	color: #4BC800;
}
#filter-region .group-filter .group-filter-child .glyphicon-remove {
	color: #FF0000;
}
#filter-region .group-filter .group-filter-child li a {
	cursor: pointer;
}
#filter-region .btn-apply {
	width: 100%;
	height: 50px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#filter-region .report-filter {
	width: 25%;
}
#filter-region .description input[type=text] {
	height: 50px;
	width: 100%;
	outline: none;
	border: none;
	text-align: center;
}
#filter-region .description input[placeholder] {
	padding: 10px;
}
#filter-region .btn-group .btn-submit:hover {
	background-color: #DFDFDF;
}
#filter-region .btn-group .btn-submit:focus {
	box-shadow: none !important;
}
#filter-region #select-company-report {
	width: 100%;
	height: 50px;
}
.calendar.left .calendar-table {
	border-right: 2px solid #f0f0f0 !important;
}

#chart-table tbody td:first-child {
  padding-left: 12px;
}
#chart-table th {
  vertical-align: middle;
  background-color: #22A7F0;
  color: #fff;
  font-size: 16px;
}
#chart-table th:first-child, 
#chart-table td:last-child {
  text-align: center !important;
}
#chart-table .btn-submit {
  width: auto;
  color: #000;
  background-color: #fff;
  border-color: #adadad;
}
#chart-table tr {
  background-color: #fff;
}
#chart-table td {
  vertical-align: middle;
}
#chart-table thead a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 12px;
}
#chart-table thead th {
  padding: 0;
}
#chart-table thead th:last-child {
  text-align: center;
}
.report-control .search-box {
  margin: 0;
  padding: 0;
}
.report-control .search-box .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
.report-control .search-box .input-group {
  width: 100%;
}
.report-control .search-box input {
  padding-left: 40px;
}
.report-control .search-box input,
.report-control .search-box button {
  height: 40px;
  width: 100%;
  border-radius: 0;
}
.report-control .search-box .input-group,
.report-control .search-box .input-group:focus {
  box-shadow: none;
}
.color-button {
	background-color: #26C281 !important;
	color: #fff;
}

@media only screen and (min-width: 320px) {
  
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 1024px) { 
  
}

@media only screen and (min-width: 1900px) { 
  
}