.support-section {
  min-height: 720px;
  background-image: url("../images/gplay.png");
  background-repeat: repeat;
}
.support-section .page-title {
  text-align: center;
  margin-top: 80px;
}
#support-table tbody td:second-child {
  text-align: left;
}
#support-table th {
  vertical-align: middle;
  background-color: #22A7F0;
  color: #fff;
  font-size: 16px;
  padding: 12px;
}
#support-table tr {
  background-color: #fff;
}
#support-table td {
  vertical-align: middle;
}
.support-table-control .search-box {
  margin: 0 0 20px 0;
  padding: 0;
}
.support-table-control .search-box .input-group {
  width: 100%;
}
.support-table-control .search-box input,
.support-table-control .search-box button {
  height: 40px;
  width: 100%;
  border-radius: 0;
}
.support-table-control .search-box .input-group,
.support-table-control .search-box .input-group:focus {
  box-shadow: none;
}
#support-question .dropdown-task {
  width: 100%;
  display: block;
  text-decoration: none;
  color: #000;
  padding: 16px;
}
#support-question .clicked {
  background-color: #f06722;
  color: #fff;
}
#support-question table td {
  padding: 0;
}
#support-question .btn-group .btn + .btn {
  margin-left: 0;
}
#support-question .btn-question {
  width: 100%;
  min-height: 40px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  vertical-align: middle;
  line-height: 28px;
  white-space: normal;
}
#support-question .btn-question:hover {
  background-color: #ddd;
  border: 1px solid #CCCCCC;
}
#support-question .btn-question.active {
  background-color: #f06722;
  color: #fff;
  border: 1px solid #CCCCCC;
}
#support-answer {
  margin-bottom: 50px;
}
#support-answer .answer-content {
  margin-left: 15px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: auto;
  min-height: 100vh;

  padding: 20px;
}
#answer1-dialog1,#answer1-dialog2,#answer1-dialog3,#answer1-dialog4,#answer1-dialog5,#answer1-dialog6{
  display: none;
}
#answer1-dialog5,#answer1-dialog6{
  top: -70px;
}
#answer1-dialog5{
  left:100px;
}
#answer1-dialog6{
  left:10px;
}

#answer-2, #answer-3, #answer-4, #answer-5, #answer-6, #answer-7{
  display: none;
}
#answer-2 img, #answer-3 img, #answer-4 img, #answer-5 img, #answer-6 img, #answer-7 img{
  max-width: 100%;
  max-height: 100%;
}



