.team-section {
	min-height: 720px;
  background-image: url("../images/gplay.png");
  background-repeat: repeat;
}
.team-section .page-title {
  text-align: center;
  margin-top: 80px;
}
#team-table tbody td:second-child {
  text-align: left;
}
#team-table th {
  vertical-align: middle;
  background-color: #22A7F0;
  color: #fff;
  font-size: 16px;
}
#team-table th:first-child,
#team-table td:first-child,
#team-table td:last-child{
  text-align: center !important;
}
#team-table .fa-edit,
#team-table .fa-remove {
  cursor: pointer;
  font-size: 18px;
}
#team-table .fa-edit {
  color: #4BC800;
}
#team-table .fa-edit:hover {
  color: #54db01;
}
#team-table .fa-remove {
  color: #E00;
}
#team-table .fa-remove:hover {
  color: #FF0000;
}
#team-table .btn-submit {
  width: auto;
  color: #000;
  background-color: #fff;
  border-color: #adadad;
}
#team-table tr {
  background-color: #fff;
}
/*#team-table .dropdown-task {
  width: 100%;
  display: block;
  text-decoration: none;
  color: #000;
  padding: 8px;
}*/
#team-table td {
  vertical-align: middle;
}
#team-table thead a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 12px;
}
#team-table thead th {
  padding: 0;
}
#team-table thead th:last-child {
  text-align: center;
}
.align-left {
  text-align: left;
}
#team-color {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #696969;
}
#add-edit-member button {
  width: 100%;
}
#add-edit-member .modal-dialog,
#edit-member .modal-dialog {
  width: 50%;
}
#add-edit-member .input-group input,
#edit-member .input-group {
  width: 100%;
  /*box-shadow: 0.5px 0.5px 5px gray;*/
  height: 40px;
  margin: 0px auto;
}
#add-edit-member .input-group-addon,
#edit-member .input-group-addon {
  font-size: 11px;
  text-align: center;
  height: 50px;
  padding: 0;
  background-color: #fff;
  border: none;
}

#add-edit-member .input-group-addon button,
#edit-member .input-group-addon button {
  font-size: 16px;
}
#add-edit-member .modal-footer,
#edit-member .modal-footer {
  padding: 0px;
  border: none;
}
#add-edit-member .modal-title,
#edit-member .modal-title {
  text-align: left;
}
#add-edit-member .glyphicon,
#edit-member .glyphicon {
  color: #000;
}
#add-edit-member .btn-submit,
#edit-member .btn-submit {
  height: 40px;
}
tags-input .tags .input {
  font: inherit;
  width: 100% !important;
}
tags-input .tags .tag-item {
  background: transparent;
  background-color: #f06722 !important;
  color: #fff;
}
tags-input .tags .tag-item:hover {
  background: transparent;
  background-color: #ff6a20 !important;
  color: #fff;
}
tags-input .tags .tag-item:focus {
  background: transparent;
  background-color: #e05d1c !important;
  color: #fff;
}
.sortorder:after {
    content: '\25b2';
} 
.sortorder.reverse:after {
    content: '\25bc';
}
.team-section .view-companies {
  padding-right: 10px;
}
.team-section .view-departments {
  padding-left: 10px;
}
.team-section .view-companies select {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 3px #22A7F0;
  border: none;
  padding-left: 5px;
}
.team-section #add-edit-member .view-companies select,
.team-section #add-edit-member .view-departments select {
  width: 95%;
  margin-bottom: 15px;
}

.team-section .view-companies select,
.team-section .view-departments select{
  height: 40px;
}
.team-section .view-companies,
.team-section .view-departments {
  background-color: #fff;
}
.team-section .table-control {
  margin-top: 50px;
  margin-bottom: 20px;
}
.team-section .table-control .btn-submit {
  height: 40px;
  width: auto;
}
.team-section .table-control .search-box {
  margin: 0;
  padding: 0;
}
.team-section .table-control .search-box .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
.team-section .table-control .search-box .input-group {
  width: 100%;
}
.team-section .table-control .search-box input {
  padding-left: 40px;
}
.team-section .table-control .search-box input,
.team-section .table-control .search-box button {
  height: 40px;
  width: 100%;
  border-radius: 0;
}
.team-section .table-control .search-box .input-group,
.team-section .table-control .search-box .input-group:focus {
  box-shadow: none;
}
.team-section .table-control .active {
  background-color: #e05d1c;
  box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.team-section .table-control .btn-group li a {
  cursor: pointer;
}
.team-section .table-control .btn-submit,
.team-section .table-control .input-form {
  float: left;
}
.team-section .table-control .btn-submit {
  /*width: 20%;*/
  margin-right: 5px;
}
.team-section .table-control .input-form {
  width: 75%;
}
#add-member .modal-dialog,
#edit-member .modal-dialog {
  width: 50%;
}
#add-member .input-group,
#edit-member .input-group {
  width: 100%;
  /*box-shadow: 0.5px 0.5px 5px gray;*/
  height: 50px;
  margin: 0px auto;
}
#add-member .input-group-addon,
#edit-member .input-group-addon {
  font-size: 11px;
  text-align: center;
  height: 50px;
  padding: 0;
  background-color: #fff;
  border: none;
}

#add-member .input-group-addon button,
#edit-member .input-group-addon button {
  font-size: 16px;
}
#add-member .modal-footer,
#edit-member .modal-footer {
  padding: 0px;
  border: none;
}
#add-member .modal-title,
#edit-member .modal-title {
  text-align: left;
}
#add-member .glyphicon,
#edit-member .glyphicon {
  color: #000;
}
#add-member .btn-submit,
#edit-member .btn-submit {
  height: 40px;
}
#add-edit-member ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#add-edit-member label {
  text-align: left;
  width: 100%;
  min-height: 30px;
  margin-bottom: 7px;
  background-color: #fff;
  color: #000;
  border: 1px solid #adadad;
  border-radius: 3px;
  box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.2) inset;
  transition: all 0.1s;
}
#add-edit-member label:hover {
  background-color: #cacaca;
}
#add-edit-member .active {
  background-color: #ff6a20;
  color: #fff;
}
#add-edit-member input[type="radio"] {
    left: -999em;
    position: absolute;
}
#add-edit-member #select-company-owned,
#add-edit-member #select-department {
  width: 100%;
}
#add-edit-member button {
  margin-top: 20px;
}
@media only screen and (min-width: 320px) {
  #add-member .input-group-addon input,
  #edit-member .input-group-addon input {
    font-size: 14px;
    height: 30px;
  }
  .team-section .pagination-sm > li > a {
    font-size: 14px;
  }
  tags-input .tags {
    min-height: 30px;
  }
}

@media only screen and (min-width: 768px) {
  #add-member .input-group-addon input,
  #edit-member .input-group-addon input {
    font-size: 16px;
    height: 40px;
  }
  .team-section .pagination-sm > li > a {
    font-size: 16px;
  }
  tags-input .tags {
    min-height: 40px;
  }
}

@media only screen and (min-width: 1024px) { 
  #add-member .input-group-addon input,
  #edit-member .input-group-addon input {
    font-size: 18px;
    height: 50px;
  }
  .team-section .pagination-sm > li > a {
    font-size: 18px;
  }
  tags-input .tags {
    min-height: 50px;
  }
  .select2-container--default .select2-selection--single {
    height: 40px !important;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px !important;
  }
}

@media only screen and (min-width: 1900px) { 
  
}