/* Timer page */
.timer-page .input-group-addon {
  white-space: normal;
}
.project-section {
  min-height: 720px;
}
.timer-page #timer-table th {
  vertical-align: middle;
  background-color: #22A7F0;
  color: #fff;
  font-size: 16px;
}
.timer-page #timer-table thead a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 12px;
}
.timer-page #timer-table thead th {
    padding: 0;
}
.timer-page #timer-table tr {
  background-color: #fff;
}
.timer-page #timer-table td {
  vertical-align: middle;
  border-left: none;
  border-right: none;
}
.timer-page .input-group{
  box-shadow: 0.5px 0.5px 5px gray;
}
.timer-page .input-group-addon{
	margin: 0px;
	padding: 0px;
	border: none;
  background: white;
}
.timer-page .input-group-project{
  width: 15% !important;
  border: none;
} 

.timer-page .input-group-addon button{
	font-size: 20px;
	height: 100%;
	width: 100%;
	border: none;
}
.timer-page .input-group-addon input{
	font-size: 20px;
	height: 100%;
  padding: 0px 20px;
  border: none;
}

.timer-page #datetimepicker{
	display: none;
  border-radius: 0;
}

/* Time counter */
.timer-page #stopwatch{
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
  /*width: 120px;*/
}
.timer-page .button {
  background: #4BC800;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding: 0px auto;
  transition: all 0.3s ease;
}

.timer-page .button:hover,
.timer-page .button:focus {
  background-color: #54db01;
}

.timer-page .button:last-child {
  background: #E00;
  color: #FFF;
  margin-right: 0;
}

.timer-page .button:last-child:hover,
.timer-page s.button:last-child:focus {
  background-color: #ff0000;
}

.timer-page #stop{
  display: none;
}

.timer-page span {
  color: black;
}

#project-container li.align-left {
  color: #000;
  padding-left: 10px;
}
#project-container li h5 {
  padding-right: 10px;
}

.timer-page pre{
  margin: 0px;
}

/*.timer-page #timer-table input[type="checkbox"]{*/
  /* Double-sized Checkboxes */
  /*-ms-transform: scale(1.3);
  /*-moz-transform: scale(1.3); 
  /*-webkit-transform: scale(1.3); 
  /*-o-transform: scale(1.3); 
  /*padding: 10px;*/
/*}*/

.timer-page .input-group #task-content, 
.timer-page .input-group #datetime-picker, 
.timer-page .input-group #start, 
.timer-page .input-group #stop {
  height: 50px;
}
.timer-page .input-group #datetime-picker {
  text-align: center;
}
.timer-page .input-group #start, 
.timer-page .input-group #stop {
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.3);
}
.timer-page .input-group-btn .btn-submit{
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.3) inset;
  height: 50px !important;
}
.timer-page .linebreak {
  margin: 30px auto;
  text-align: center;
}
.timer-page #timer-table th:first-child,
.timer-page #timer-table td:first-child,
.timer-page #timer-table td:last-child{
  text-align: center !important;
}
.timer-page #timer-table .fa-play,
.timer-page #timer-table .fa-remove {
  cursor: pointer;
  font-size: 18px;
}
.timer-page #timer-table .fa-play {
  color: #4BC800;
}
.timer-page #timer-table .fa-play:hover {
  color: #54db01;
}
.timer-page #timer-table .fa-remove {
  color: #E00;
}
.timer-page #timer-table .fa-remove:hover {
  color: #FF0000;
}
.timer-page #timer-table .btn-submit {
  width: auto;
  color: #000;
  background-color: #fff;
  border-color: #adadad;
}
.timer-page #timer-table .dropdown-task {
  width: 100%;
  display: block;
  text-decoration: none;
  color: #000;
  padding: 8px;
}
.timer-page .no-padding {
  padding: 0 !important;
}
.timer-page .table-control {
  margin-bottom: 10px;
}
.timer-page .table-control .btn-submit {
  height: 40px;
  width: 80px;
}
.timer-page .table-control .search-box {
  margin: 0;
  padding: 0;
}
.timer-page .table-control .search-box .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}
.timer-page .table-control .search-box .input-group {
  width: 100%;
}
.timer-page .table-control .search-box input {
  padding-left: 40px;
}
.timer-page .table-control .search-box input,
.timer-page .table-control .search-box button {
  height: 40px;
  width: 100%;
  border-radius: 0;
}
.timer-page .table-control .search-box .input-group,
.timer-page .table-control .search-box .input-group:focus {
  box-shadow: none;
}
.timer-page .glyphicon-plus{
  color: green;
}

.timer-page .input-group-project a:hover{
  color: green;
}

.timer-page #myModal .modal-dialog{
  width: 50%;
}

.timer-page #myModal .input-group{
  width: 100%;
  box-shadow: 0.5px 0.5px 5px gray;
  height: 40px;
  margin: 0px auto;
}

.timer-page #myModal .input-group-addon{
  font-size: 11px;
  text-align: center;
  height: 40px;
}

.timer-page #myModal .input-group-addon input{
  font-size: 14px;
}

.timer-page #myModal .input-group-addon button{
  font-size: 16px;
}

.timer-page #client-name{
  margin: 10px 0px;
}

.timer-page #myModal .modal-footer{
  padding: 0px;
  border: none;
}

.timer-page div #project-color{
  height: 40px;
}

.timer-page #project-color .glyphicon{
  margin: auto 0px;
  margin-top: 10px;
  font-size: 12px;
}

.timer-page #project-color button{
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: 0.5px 0.5px 5px gray;
}

.timer-page .modal-footer button{
  width: 100%;
  height: 40px;
}

.timer-page .project-color-div{
  height: 25px;
}
.timer-page .project-color-div button{
  background-color: black;
  border-radius: 2px;
}

.timer-page .color-row{
  padding: 5px 0px 5px 12px;
}

.timer-page #project-color-div{
  background-color: rgb(77, 195, 255); 
  height: 30px; 
  border-radius: 3px; 
}

.timer-page .table-control .active {
  background-color: #e05d1c;
  box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.2);
}

#project-container{
  width: 100%;
}

#project-container .divider {
  color: gray;
  margin: 5px 0px;
}
#project-container h6 {
  color: #000;
}
.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.notification-div{
  background-color: light;
  border-radius: 3px;
  border: 1px solid black;
}

#time-container table{
  margin-bottom: 0px !important;
}

.text-muted{
  color: #777 !important;
}

#project-btn:hover{
  background-color: #ff8000; 
}

.disabled {
   pointer-events: none;
   cursor: default;
}
.disabled i{
   color: #b8b8b8;
}
.enabled {
   pointer-events: auto;
   cursor: pointer;
}
.enabled i{
   color: red;
}

#search-div{
  position: relative;
  display: inline-block;
}
#search-div span {
    position:absolute;
    left:15px;
    top:12px;
    font-size: 17px;
    z-index: 1;
}
#search-div input {
    padding-left:40px;
    z-index: 0;
}
