.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
*{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}
body, html {
  height: 100%; /* ADD this */
}
body {
  padding: 0;
  scroll-behavior: smooth;
  position: relative;
}

.container-fluid, 
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0;
  margin: 0;
}
.row,
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}
.btn-default[disabled] {
  color: #696969;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
#footer {
  padding-top: 30px;
}
.footer {
  background-image: url("../images/footer.png");
  background-repeat: repeat;
  color: #fff;
  overflow: hidden;
}
.footer a {
  color: #B4DCFF;
}
.footer a:hover {
  color: #8BC9FF;
}
.footer ul {
  margin: 0 2em 2em;
  text-align: left;
}
.footer ul:last-child {
  margin-right: 0;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Custom page header */
.navbar, 
.navbar-right .dropdown .dropdown-menu{
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
}
.navbar-right .dropdown .dropdown-menu {
  padding: 0px;
  border: none;
  border-radius: 0;
  width: 190px;
  font-size: 16px;
  text-align: right;
}
.navbar-right .dropdown .dropdown-menu li a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}
/*.navbar-default .navbar-nav a,*/
.navbar-fixed-top .navbar-nav a{
  color: #6FBEF3;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
}
/*.navbar-default .navbar-nav li a,*/
.navbar-fixed-top .navbar-nav li a{
  color: #fff;
  transition: 0.3s ease;
}
/*.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-nav li a:hover,*/
.navbar-fixed-top .navbar-brand:hover, 
.navbar-fixed-top .navbar-nav li a:hover {
  background-color: white;
  color: black;
}
.navbar-brand .glyphicon {
  background-color: none;
  color: #f0ce22;
}
/*.navbar-default .navbar-nav li a:active,
.navbar-fixed-top .navbar-nav li a:active{
  background-color: white;
  color: black;
}*/
/*.navbar-default .navbar-brand,*/
.navbar-fixed-top .navbar-brand {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.navbar-right,
.navbar-right li {
  margin-right: 0px;
  /*width: 190px;*/
  text-align: center;
}
.navbar-right .dropdown {
  width: 190px;
  text-align: center;
}
.dropdown a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navbar-right li a,
.home-section a {
  cursor: pointer;
}
.navbar-right #signupBtn {
  background-color: #f06722;
  color: #fff;
  transition: all 0.3s ease;
}
.navbar-right #signupBtn:hover {
  background-color: #fff;
  color: #f06722;
}
.navbar-fixed-top {
  border-width: 0 !important;
}
.navbar-fixed-top .navbar-toggle {
  margin: 0;
}
.navbar-fixed-top .fa-bars {
  color: #fff;
}

/* ------------------ BUTTON ------------------ */
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: #f06723; /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 125%;
}

.button-xlarge {
    font-size: 150%;
}

/* ------------------ HOME PAGE ------------------ */
.page-section {
  /*border: 1px solid #F2F1EF;*/
  text-align: center;
  overflow: hidden;
}
.home-section {
  height: 100vh;
  background-image: url("../images/flat2.jpg");
  /*background-size: 100%;*/
}
.introduce-section,
.about-section {
  background-image: url("../images/gplay.png");
  background-repeat: repeat;
}
.pricing-section {
  background-image: url("../images/pricing_bg.jpg");
  /*background-repeat: repeat;*/
  /*background-size: 100%;*/
}
.contact-section {
  background-image: url("../images/contact_bg.jpg");
  background-repeat: repeat;
  background-size: 100%;
}
.home-section .layer,
.pricing-section .layer,
.contact-section .layer {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.big-text {
  color: #fff;
  font-size: 4em;
  padding: 20px;
}
.medium-text {
  color: red;
  font-size: 1.5em;
  padding: 20px;
}
.small-text {
  color: #ECF0F1;
  font-size: 2em;
  margin-top: 1em;
}
.home-section .small-text {
  color: #ffFF00;
}
.home-section .big-text {
  color: #ffFF00;
  border: 3px solid #ffFF00;
  border-radius: 3px;
}
.introduce-section .big-text, 
.about-section .big-text{
  color: #000;
  margin-top: 60px;
}
.pricing-section .big-text,
.contact-section .big-text {
  color: #ffFF00;
  margin-top: 60px;
}
.introduce-section .small-text {
  color: #22a7f0;
  margin-bottom: 1em;
  padding: 0.5em;
}
.about-section, .contact-section {
  min-height: 450px;
}
.introduce-section, .pricing-section {
  min-height: 650px;
}
.subscribe-section {
  min-height: 200px;
}
.subscribe-section .form-group {
  margin-bottom: 0;
}
.subscribe-section h2 {
  font-weight: 600;
  margin-top: 1em;
  color: #f06722;
}
.introduce-section p,
.about-section p {
  text-align: justify;
}
.about-section .col-md-3 {
  margin-bottom: 60px;
}
.column-content {
  margin: 0 1.5em 1.5em 1.5em;
}
.about-section a {
  /*background-image: url("../images/logo.png");*/
  display: inline-block; 
  width: 200px; 
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s ease;
}
.author-image {
  margin-bottom: 1em;
}
.author-image:hover {
  box-shadow: 0px 0px 10px #22a8f0;
}
.contact-section textarea {
  min-height: 200px;
  width: 100%;
  resize: vertical;
}
.contact-section .help-block {
  color: #fff;
  font-weight: 600;
}
.btn-submit {
  border: 1px solid #f06722;
  border-radius: 0;
  background-color: #f06722;
  color: #FFF;
  width: 130px;
  position: static;
  box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
}
.btn-submit:hover {
  color: #fff;
  background-color: #ff6a20;
}
.btn-submit:focus {
  color: #fff;
  background-color: #e05d1c;
  box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.2) !important;
}
.subscribe-section .btn-submit {
  margin: 0.5em 0 2em 0;
}
.cd-top {
  z-index: 1000;
  display: inline-block;
  /*height: 40px;
  width: 40px;*/
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  /*text-indent: 100%;*/
  white-space: nowrap;
  /*background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;*/
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top i{
  font-size: 300%;
  color: #f06722;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    /*height: 60px;
    width: 60px;*/
    right: 30px;
    bottom: 30px;
  }
}
.subscribe-section {
  display: none;
}
#secret-subscribe {
  cursor: pointer;
  color: #95D9FF;
}
.rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  transition: 0.5s ease;
}
.wrapper {  
  position: relative;
}
.footer {
  bottom: 0;
  position: relative;
  width: 100%;
}
.cg-busy-backdrop {
  min-height: 2000px;
  background-color: rgba(0, 0, 0, 0.7);
}
.table-overflow {
  overflow: hidden;
}
table {
  table-layout:fixed;
  margin-bottom: 50px !important;
}
table td {
  word-wrap:break-word;
}
.pagination {
  margin-top: 0;
}
input[type="checkbox"]{
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  -moz-border: 2px solid #ADADAD;
       border: 2px solid #ADADAD;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  width: 20px;
  height: 20px;
  transition: all .1s linear;
}
input[type="checkbox"]:checked{
  background-color: #ff6a20;
  border: 2px solid #313131;
}
input[type="checkbox"]:hover{
  border: 2px solid #313131;
}
#contact .progress {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.background-container {
  background-color: #fff;
  border: 2px solid #DADADA;
  border-radius: 3px;
  margin-bottom: 30px;
  padding: 20px;
}
.select2-container--default .select2-selection--single {
  border-radius: 3px !important;
}
.help-block {
  color: #ABAEB2;
}



@media only screen and (min-width: 320px) {
  body { 
    font-size: 12px !important; 
  }
  .home-section {
    background-size: auto 100%;
    background-position: right;
  }
  .home-section .big-text {
    margin-top: 15vh;
  }
  .pricing-section {
    background-size: auto 100%;
    background-position: center;
  }
}

@media only screen and (min-width: 768px) {
  body { 
    font-size: 14px !important; 
  }
  .home-section {
    background-size: auto 100%;
    background-position: right;
  }
  .home-section .big-text {
    margin-top: 17vh;
  }
  .pricing-section {
    background-size: auto 100%;
    background-position: center;
  }
}

@media only screen and (min-width: 1024px) { 
  body { 
    font-size: 16px !important; 
  }
  .home-section {
    background-size: 100%;
  }
  .home-section .big-text {
    margin-top: 27vh;
  }
  .pricing-section {
    background-size: 100%;
  }
}

@media only screen and (min-width: 1900px) { 
  body { 
    font-size: 18px !important; 
  }
  .home-section {
    height: 100vh; 
    background-size: 100%;
  }
  .home-section .big-text {
    margin-top: 30vh;
  }
}