<div id="sign" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="AccountCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#signup" id="signupBtn" role="tab" data-toggle="tab">Sign up</a></li>
                    <li><a href="#login" id="loginBtn" role="tab" data-toggle="tab">Log in</a></li>
                </ul>

                <!-- loading -->
                <div ng-show="loading">
                    <h4 style="text-align: center; color: #fff">Just a moment...</h4>
                    <div class="progress" >
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 100%"></div>
                    </div>
                </div>
                
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="signup">
                      <div class="box signup text-center">
                        <!-- <button ng-click="authenticate('google')" type="submit" class="btn btn-gplus btn-lg btn-block">
                          <i class="fa fa-google-plus"></i> Connect with Google Plus
                        </button> -->
                        <button type="submit" ng-click="login()" class="btn btn-facebook btn-lg btn-block">
                          <i class="fa fa-facebook"></i> Connect with Facebook
                        </button>
                        
                        <p style="color: #f06722">{{ formSignupResponse }}</p>
                        
                        <!-- =========================== FORM SIGN UP =========================== -->
                        <div id="messages" ng-show="message">{{ message }}</div>
                        <form id="signupForm" name="signupForm" novalidate>
                          <div id="signupEmail-group">
                            <input type="email" class="form-control input-lg" ng-model="formSignupData.email" name="signupEmail" placeholder="Your email" ng-pattern="/([-!#-'*+\/-9=?A-Z^-~]+(\.[-!#-'*+\/-9=?A-Z^-~]+)*|([][^-~ \t]|(\\[\t -~]))+)@[0-9A-Za-z]([0-9A-Za-z-]{0,61}[0-9A-Za-z])?(\.[0-9A-Za-z]([0-9A-Za-z-]{0,61}[0-9A-Za-z])?)+/i" required/>
                            <p ng-show="signupForm.signupEmail.$invalid && 
                                        signupForm.signupEmail.$dirty &&
                                        signupForm.signupEmail.$error.pattern" class="help-block align-right"><i>Please enter a valid email address.</i></p>
                            <p ng-show="signupForm.signupEmail.$error.required &&
                                        signupForm.signupEmail.$dirty" class="help-block align-right"><i>Email cannot be empty</i></p>
                          </div>
                          
                          <div id="signupPassword-group">
                            <input type="password"  class="form-control input-lg" 
                                                    ng-model="formSignupData.password" 
                                                    name="signupPassword"
                                                    id="signupPassword" 
                                                    placeholder="Password" 
                                                    ng-minlength="8" 
                                                    ng-maxlength="255" 
                                                    ng-pattern="/^[a-zA-Z0-9!@#$%^&*_+=?]+$/i" 
                                                    required/>
                            <div ng-messages="signupForm.signupPassword.$error" role="alert">
                              <p ng-message="required" ng-if="signupForm.signupPassword.$dirty" class="help-block align-right"><i>Password cannot be empty</i></p>
                              <p ng-message="minlength" class="help-block align-right">Password must be more than 8 characters</p>
                              <p ng-message="maxlength" class="help-block align-right">Password must be less than 255 characters</p>
                              <p ng-message="pattern" class="help-block align-right">Password only contains characters, numbers and these special characters: !@#$%^&*_+=?</p>
                            </div>
                          </div>

                          <input type="password"  class="form-control input-lg" 
                                                  ng-model="formSignupData.password_confirmation" 
                                                  name="signupPasswordAgain" 
                                                  id="signupPasswordAgain"
                                                  placeholder="Password again" 
                                                  ng-minlength="8" 
                                                  ng-maxlength="255" 
                                                  ng-pattern="/^[a-zA-Z0-9!@#$%^&*_+=?]+$/i" 
                                                  pw-check="signupPassword" 
                                                  required/>
                          <div ng-messages="signupForm.signupPasswordAgain.$error" role="alert">
                            <p ng-message="required" ng-if="signupForm.signupPasswordAgain.$dirty" class="help-block align-right"><i>Password cannot be empty</i></p>
                            <p ng-message="minlength" class="help-block align-right"><i>Password must be more than 8 characters</i></p>
                            <p ng-message="maxlength" class="help-block align-right"><i>Password must be less than 255 characters</i></p>
                            <p ng-message="pattern" class="help-block align-right"><i>Password only contains characters, numbers and these special characters: !@#$%^&*_+=?</i></p>
                            <p ng-message="pwmatch" ng-if="signupForm.signupPasswordAgain.$dirty" class="help-block align-right"><i>2 password fields must be equal.</i></p>
                          </div>
                          
                          <button type="submit" class="btn btn-default btn-block btn-lg" ng-click="submitSignupForm()" ng-disabled="signupForm.$invalid">
                            <i class="fa fa-envelope-o"></i> Sign up
                          </button>               

                        </form>

                      </div>

                    </div>
                    <div class="tab-pane fade" id="login">
                        <div class="box signup text-center">
                          <!-- <button type="submit" class="btn btn-gplus btn-lg btn-block">
                            <i class="fa fa-google-plus"></i> Connect with Google Plus
                          </button> -->

                          <button type="submit" ng-click="login()" class="btn btn-facebook btn-lg btn-block">
                            <i class="fa fa-facebook"></i> Connect with Facebook
                          </button>
                          
                          <!-- =========================== FORM LOGIN =========================== -->
                          <p style="color: #f06722">{{ formLoginResponse }}</p>
                          <form id="loginForm" name="loginForm" novalidate>
                            
                            <input type="email" class="form-control input-lg" ng-model="formLoginData.email" name="loginEmail" placeholder="Your email" ng-pattern="/([-!#-'*+\/-9=?A-Z^-~]+(\.[-!#-'*+\/-9=?A-Z^-~]+)*|([][^-~ \t]|(\\[\t -~]))+)@[0-9A-Za-z]([0-9A-Za-z-]{0,61}[0-9A-Za-z])?(\.[0-9A-Za-z]([0-9A-Za-z-]{0,61}[0-9A-Za-z])?)+/i" required/>
                            <p ng-show="loginForm.loginEmail.$invalid && 
                                        loginForm.loginEmail.$dirty &&
                                        loginForm.loginEmail.$error.pattern" class="help-block align-right"><i>Please enter a valid email address.</i></p>
                            <p ng-show="loginForm.loginEmail.$error.required &&
                                        loginForm.loginEmail.$dirty" class="help-block align-right"><i>Email cannot be empty</i></p>

                            <input type="password"  class="form-control input-lg"
                                                    ng-model="formLoginData.password" 
                                                    name="loginPassword"
                                                    id="loginPassword" 
                                                    placeholder="Password" 
                                                    ng-minlength="8" 
                                                    ng-maxlength="255" 
                                                    ng-pattern="/^[a-zA-Z0-9!@#$%^&*_+=?]+$/i" 
                                                    required/>
                            <div ng-messages="loginForm.loginPassword.$error" role="alert">
                              <p ng-message="required" ng-if="signupForm.loginPassword.$dirty" class="help-block align-right"><i>Password cannot be empty</i></p>
                              <p ng-message="minlength" class="help-block align-right"><i>Password must be more than 8 characters</i></p>
                              <p ng-message="maxlength" class="help-block align-right"><i>Password must be less than 255 characters</i></p>
                              <p ng-message="pattern" class="help-block align-right"><i>Password only contains characters, numbers and these special characters: !@#$%^&*_+=?</i></p>
                            </div>
                            
                            <!-- <div class="checkbox">
                              <label>
                                <input type="checkbox" name="rememberMe" ng-model="formLoginData.remember_me"> Remember me.
                              </label>
                            </div> -->
                                            
                            <button type="submit" class="btn btn-default btn-block btn-lg" ng-click="submitLoginForm()" ng-disabled="loginForm.$invalid">
                              <i class="fa fa-envelope-o"></i> Login
                            </button>
                            <p class="text-left lostpassword">
                              <small>
                                <a href="javascript:void(0)" ng-click="showResetPasswordForm()">Forgot password</a>
                              </small>
                            </p>
                          </form>

                          <form id="resetPasswordForm" name="resetPasswordForm" ng-show="resetPassword">
                            <p class="text-left lostpassword">
                              <small>
                                <a href="javascript:void(0)" ng-click="showResetPasswordForm()"><span class="glyphicon glyphicon-chevron-left" style="font-size: 15px"></span> Back to Login</a>
                              </small>
                            </p>

                            <div>
                              <input type="email" class="form-control input-lg" ng-model="resetPasswordFormData.email" name="resetEmail" placeholder="Your email" ng-pattern="/([-!#-'*+\/-9=?A-Z^-~]+(\.[-!#-'*+\/-9=?A-Z^-~]+)*|([][^-~ \t]|(\\[\t -~]))+)@[0-9A-Za-z]([0-9A-Za-z-]{0,61}[0-9A-Za-z])?(\.[0-9A-Za-z]([0-9A-Za-z-]{0,61}[0-9A-Za-z])?)+/i" required/>
                              <p ng-show="resetPasswordForm.resetEmail.$invalid && 
                                          resetPasswordForm.resetEmail.$dirty &&
                                          resetPasswordForm.resetEmail.$error.pattern" class="help-block align-right"><i>Please enter a valid email address.</i></p>
                              <p ng-show="resetPasswordForm.resetEmail.$error.required &&
                                          resetPasswordForm.resetEmail.$dirty" class="help-block align-right"><i>Email cannot be empty</i></p>

                              <button type="submit" class="btn btn-default btn-block btn-lg" ng-click="submitResetPasswordForm()" ng-disabled="resetPasswordForm.$invalid">
                                <i class="fa fa-envelope-o"></i> Reset password
                              </button>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

