<div class="col-md-12 col-sm-12 col-xs-12 page-section company-section" ng-init="loadingInit();">
	<div cg-busy="{promise:companyPromise,backdrop:true,minDuration:1000,templateUrl:'views/loadingTemplate.html'}"></div>
  	<div class="col-md-12 col-sm-12 col-xs-12 page-title">
		<h1>Company Management</h1>
	</div>
  	<!-- control panel of company table -->
  	<div class="col-md-12 col-sm-12 col-xs-12 company-control">
	  	<div class="col-md-1 col-sm-1 col-xs-12"></div>
	  	<div class="col-md-3 col-sm-3 col-xs-12 align-left">
	  		<button class="btn btn-submit" ng-click="removeAll()">Delete</button>
	  		<button class="btn btn-submit" data-toggle="modal" data-target="#new-company" ng-click="openModalNewCompany()" >New company</button>
			
			<!-- add company modal -->
	    	<div class="modal fade" id="new-company" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			    <div class="modal-dialog" role="document">
			        <div class="modal-content">
			            <div class="modal-header">
							<h3 class="modal-title">Create Company <span class="close glyphicon glyphicon-remove" data-dismiss="modal"></span></h3>
						</div>
						<div class="modal-body">
							<div class="row">
								<!-- Company name Input -->
								<form name="formNewCompany">
									<div class="input-group">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<span class="input-group-addon">
												<input type="text" class="form-control" ng-model="formNewCompanyData.company_name" id="company-name" name="companyName" placeholder="Company name..." required>
											</span>
											<p ng-show="formNewCompany.companyName.$error.required && 
														formNewCompany.companyName.$dirty" class="help-block align-right"><i>Please enter company name.</i></p>
										</div>
									</div>
									<br>
									<div class="input-group">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<span class="input-group-addon">
												<tags-input class="bootstrap"
											                ng-model="formNewCompanyData.department"
											                placeholder="Add a department"
											                replace-spaces-with-dashes="false">
											    </tags-input>
											</span>
											<p><small>Please use Enter to separate departments</small></p>
										</div>
									</div>
									<br>
									<!-- Done Button -->
									<div class="col-md-10 col-sm-10"></div>
									<div class="col-md-2 col-sm-2 col-xs-4">
										<div class="modal-footer">
											<button type="button" class="btn btn-submit" ng-disabled="formNewCompany.$invalid" ng-click="addNewCompany()">DONE</button>
										</div>
									</div>
								</form>
							</div>
						</div>
			        </div>
			    </div>
			</div>

			<!-- edit company modal -->
			<div class="modal fade" id="edit-company" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			    <div class="modal-dialog" role="document">
			        <div class="modal-content">
			            <div class="modal-header">
							<h3 class="modal-title">Edit Company <span class="close glyphicon glyphicon-remove" data-dismiss="modal"></span></h3>
						</div>
						<div class="modal-body">
							<div class="row">
								<!-- Company Name Input -->
								<form name="formEdiCompany">
									<div class="input-group">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<span class="input-group-addon">
												<input type="text" class="form-control" ng-model="formEditCompanyData.company_name" id="company-name" name="companyName" placeholder="Company name..." required>
											</span>
											<p ng-show="formEdiCompany.companyName.$error.required && 
														formEdiCompany.companyName.$dirty" class="help-block align-right"><i>Please enter company name.</i></p>
										</div>
									</div>
									<br>
									<div class="input-group">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<span class="input-group-addon">
												<tags-input class="bootstrap"
											                ng-model="formEditCompanyData.department"
											                placeholder="Add a department"
											                replace-spaces-with-dashes="false">
											    </tags-input>
											</span>
											<p><small>Please use Enter to separate departments</small></p>
										</div>
									</div>
									<br>
									<!-- Done Button -->
									<div class="col-md-10 col-sm-10"></div>
									<div class="col-md-2 col-sm-2 col-xs-4">
										<div class="modal-footer">
											<button type="button" class="btn btn-submit" ng-disabled="formEdiCompany.$invalid" data-dismiss="modal" ng-click="editCompany()">DONE</button>
										</div>
									</div>
								</form>
							</div>
						</div>
			        </div>
			    </div>
			</div>
	  	</div>
	    <div class="col-md-4 col-sm-4"></div>
	    <div class="col-md-3 col-sm-3 col-xs-3">
			<form class="navbar-form search-box" role="search">
			    <div class="input-group add-on">
			    	<span class="fa fa-search fa-fw"></span>
			      	<input class="form-control" placeholder="Search" ng-model="searchFilter" name="srch-term" id="srch-term" type="text">
			    </div>
			</form>
		</div>
	    <div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>

	<!-- company table -->
	<div class="col-md-12">
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
		<div class="col-md-10 table-overflow">
			<table class="table table-bordered table-hover table-responsive" id="company-table">
			    <thead>
					<tr>
						<th width="5%" class="table-data-edit-all">
							<!-- <button class="btn btn-default btn-submit" ng-model="selectAll" ng-click="selectAll()">All</button> -->
							<input type="checkbox" ng-change="selectAll()" ng-model="toggleInput">
						</th>
						<th width="40%" class="align-left">
							<a href="" ng-click="order('companyName')">
								Company name (Owned)
								<span class="sortorder" ng-show="predicate === 'companyName'" ng-class="{reverse:reverse}"></span>
							</a>
						</th>
						<th width="45%" style="padding: 12px;">
							Departments
						</th>
						<th width="10%">
							Action
						</th>
					</tr>
				</thead>
			    <tbody>
			    	<tr dir-paginate="tdata in tableData | orderBy:predicate:reverse | filter:searchFilter | itemsPerPage:10 track by $index ">
			    		<td class="table-data-edit-all">
							<input type="checkbox" ng-model="tdata.selectedCell">
						</td>
						<td class="align-left">
							{{ tdata.companyName }}
						</td>
						<td class="align-left">
							{{ tdata.department }}
						</td>
						<td>
							<a ng-click="openModalEditCompany(tdata.id)" id="edit-company"><i class="fa fa-edit"></i></a>
							<a ng-click="removeCompany(tdata.id)"><i class="fa fa-remove"></i></a>
						</td>
					</tr>
			    </tbody>
			</table> 
			<div class="align-right">
				<!-- <uib-pagination total-items="totalItems" 	
								items-per-page="10"
								ng-model="currentPage" 
								max-size="maxSize" 
								class="pagination-sm" 
								boundary-links="true" 
								rotate="false" 
								num-pages="numPages"
								ng-change="pageChanged()">
				</uib-pagination> -->
				<dir-pagination-controls
			        max-size="5"
			        direction-links="true"
			        boundary-links="true" >
			    </dir-pagination-controls>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>
</div>