<div class="col-md-12 col-sm-12 col-xs-12 page-section feedback-section" ng-init="loadingInit();">
	<div cg-busy="{promise:feedbackPromise,backdrop:true,minDuration:1000,templateUrl:'views/loadingTemplate.html'}"></div>
  	<div class="col-md-12 col-sm-12 col-xs-12 page-title">
		<h1>Feedback Management</h1>
	</div>
  	<!-- control panel of feedback table -->
  	<div class="col-md-12 col-sm-12 col-xs-12 feedback-control">
	  	<div class="col-md-1 col-sm-1 col-xs-12"></div>
	  	<div class="col-md-3 col-sm-3 col-xs-12 align-left">
	  		<button class="btn btn-submit" ng-click="removeFeedbackAll()">Delete</button>
	  	</div>
	    <div class="col-md-4 col-sm-4"></div>
	    <div class="col-md-3 col-sm-3 col-xs-3">
			<form class="navbar-form search-box" role="search">
			    <div class="input-group add-on">
			    	<span class="fa fa-search fa-fw"></span>
			      	<input class="form-control" placeholder="Search" ng-model="searchFilter" name="srch-term" id="srch-term" type="text">
			    </div>
			</form>
		</div>
	    <div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>
	
	<!-- reply feedback modal -->
	<div class="modal fade" id="reply-feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
					<h3 class="modal-title">Reply feedback<span class="close glyphicon glyphicon-remove" data-dismiss="modal"></span></h3>
				</div>
				<div class="modal-body">
					<div class="row">
						<form name="formReplyFeedback" novalidate>
							<div class="input-group align-left">
								<p>Send to:</p>
								<div class="col-md-12 col-sm-12 col-xs-12">
									<span class="input-group-addon">
										<input type="email" class="form-control" ng-model="formReplyFeedbackData.user_email" disabled>
									</span>
								</div>
							</div>
							<br>
							<div class="input-group align-left" style="width: 100%">
								<p>Message:</p>
						        <div class="col-md-12 col-sm-12 col-xs-12">
						        	<textarea name="replyMessage" class="form-control" placeholder="Enter your message here..." ng-model="formReplyFeedbackData.replyMessage" required></textarea>
						        </div>
						        <p ng-show="formReplyFeedback.replyMessage.$invalid && formReplyFeedback.replyMessage.$dirty" class="help-block align-right"><i>Please leave a message</i></p>
							</div>
							<!-- <p>Note: Reply a feedback will also remove it.</p> -->
							<br>
							<!-- loading -->
				          	<div ng-show="loading">
				            	<h4 style="text-align: center;">Just a moment...</h4>
				            	<div class="progress">
				                	<div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 100%"></div>
				            	</div>
				          	</div>
							<!-- Done Button -->
							<div class="col-md-10 col-sm-10"></div>
							<div class="col-md-2 col-sm-2 col-xs-4">
								<div class="modal-footer">
									<button type="button" class="btn btn-submit" ng-disabled="formReplyFeedback.$invalid" ng-click="replyFeedback()">DONE</button>
								</div>
							</div>
						</form>
					</div>
				</div>
	        </div>
	    </div>
	</div>

	<!-- feedback table -->
	<div class="col-md-12 col-sm-12 col-xs-12">
		<h4 style="color: red">{{ feedbackResponse }}</h4>
	</div>
	<div class="col-md-12">
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
		<div class="col-md-10 table-overflow">
			<table class="table table-bordered table-hover table-responsive" id="feedback-table">
			    <thead>
					<tr>
						<th width="5%" class="table-data-edit-all">
							<input type="checkbox" ng-change="selectAll()" ng-model="toggleInput">
						</th>
						<th width="20%" class="align-left">
							<a href="" ng-click="order('email')">
								User's email
								<span class="sortorder" ng-show="predicate === 'email'" ng-class="{reverse:reverse}"></span>
							</a>
						</th>
						<th width="20%" class="align-left" style="padding: 12px;">
							Subject
						</th>
						<th width="33%" class="align-left" style="padding: 12px;">
							Message
						</th>
						<th width="12%" style="padding: 12px;">
							Reply
						</th>
						<th width="10%">
							Action
						</th>
					</tr>
				</thead>
			    <tbody>
			    	<tr dir-paginate="tdata in tableData | orderBy:predicate:reverse | filter:searchFilter | itemsPerPage:10 track by $index ">
			    		<td class="table-data-edit-all">
							<input type="checkbox" ng-model="tdata.selectedCell">
						</td>
						<td class="align-left">
							{{ tdata.user_email }}
						</td>
						<td class="align-left">
							{{ tdata.subject }}
						</td>
						<td class="align-left">
							{{ tdata.message }}
						</td>
						<td class="align-left">
							{{ tdata.reply }}
						</td>
						<td>
							<a ng-click="openModalReplyFeedback(tdata.id)" data-toggle="modal" data-target="#reply-feedback"><i class="fa fa-mail-reply fw"></i></a>
							<a ng-click="removeFeedback(tdata.id)"><i class="fa fa-remove"></i></a>
						</td>
					</tr>
			    </tbody>
			</table>
			<div class="align-right">
				<dir-pagination-controls
			        max-size="5"
			        direction-links="true"
			        boundary-links="true" >
			    </dir-pagination-controls>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>
</div>