<div class="col-md-12" id="footer">
  <div class="col-sm-4 col-md-4">
    <ul>
      <h3>Connect with us</h3>
      <li><a href="https://www.facebook.com/timetraveler" target="_blank"><i class="fa fa-2x fa-facebook-square"></i> Like us on Facebook</a></li>
      <li><a href="https://www.twitter.com/timetraveler" target="_blank"><i class="fa fa-2x fa-twitter-square"></i> Follow us on Twitter</a></li>
      <li><a href="https://plus.google.com/+TimeTraveler/posts" target="_blank"><i class="fa fa-2x fa-google-plus-square"></i> +1 us on Google Plus</a></li>
    </ul> 
  </div>

  <div class="col-sm-4 col-md-4">
    <ul>
      <h3>Official address</h3>
      <li>11th Floor</li>
      <li>Code Engine Studio</li>
      <li>295 Nguyen Tat Thanh</li>
      <li>Danang City</li>
      <li>Tel: (+84) 1234567890</li>
    </ul>  
  </div>

  <div class="col-sm-4 col-md-4">
    <ul>
      <h3>More</h3>
      <li><a href="#">Terms of service</a></li>
      <li><a href="#">Pricavy</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Helps</a></li>
    </ul> 
  </div>
</div>