<style>
	#loading-wrapper {
		width: auto;
		height: 50px; 
		display: inline-block;
	    position: relative;
	    z-index: 1002;
	    padding: 10px;
	    color: #333333;
	    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	    background-color: #e9eeee;
	    border: 1px solid #dddddd;
	    border-top-width: 0;
	    -webkit-border-radius: 7px;
	    -moz-border-radius: 7px;
	    border-radius: 7px;
	    border-top-left-radius: 0;
	    border-top-right-radius: 0;
	    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	    text-align: center;
	    margin-top: 50px;
	}
	.cg-busy-animation {
		text-align: center;
	}
</style>

<div id="loading-wrapper">
	<img src="images/loading.gif" style="width:30px; height:30px"> Please wait...
</div>