<section id="main-home" class="col-md-12 page-section home-section">
  <div class="layer"></div>
  
  <div class="col-md-2"></div>
  <div class="col-md-8 big-text">Welcome to Time Travelers</div>
  <div class="col-md-2"></div>

  <div class="col-md-12 small-text">Simple Time-Tracking application for every one.</div>
  
  <div class="col-md-12">
    <a ng-hide="isLoggedIn" data-toggle="modal" id="signin-signup-btn" data-target="#sign" class="jelly">Get Started <span class="glyphicon glyphicon-hand-right"></span></a>
    <a ng-show="isLoggedIn" ui-sref="timer" class="jelly">Get Started <span class="glyphicon glyphicon-hand-right"></span></a>
  </div>
</section>

<section id="introduce" class="col-md-12 page-section introduce-section">
  <div class="col-md-12 big-text">Introducing</div>
  <div class="col-md-12 col-sm-12 col-xs-12 timer-page">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8 col-xs-12 input-group">
      <!-- Task Partial -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <span class="input-group-addon">
          <input type="text" class="form-control" id="task-content" value="Time tracking feature">
        </span>
      </div>
      <!-- Time Counter Partial -->
      <div class="col-md-3 col-sm-3 col-xs-12">
        <span class="input-group-addon input-group-counter" id="stopwatch">
            <input type="text" class="form-control" id="datetime-picker" value="00:00:00">
        </span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <span class="input-group-addon input-group-btn">
          <button class="button" id="start" ng-click="startWatch()">Start</button>
          <button class="button" id="stop" ng-click="stopWatch()">Stop</button>
        </span>
      </div>
    </div>
    <div class="col-md-2 col-sm-2"></div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-12 medium-text">
      THE ULTIMATE TIMER. IT'S INSANELY SIMPLE.
    </div>
    <div class="col-md-4 col-sm-4 col-xs-2"></div>
    <div class="col-md-4 col-sm-4 col-xs-8" style="color:#000; line-height:2em;">
      The time tracker is built for speed and ease of use. Time keeping is so simple that you’ll actually use it. It is the heart of timesheets.
    </div>
    <div class="col-md-4 col-sm-4 col-xs-2"></div>
  </div>
  <div class="col-md-3" style="margin-bottom: 60px;">
    <div class="small-text">
      <i class="fa fa-lg fa-hourglass-start fa-fw"></i>
      One-click Time Tracking
    </div>
    <p class="column-content">You track time in real time with Time Traveler. You will never lose a minute of your time. If you forget to click to turn on, you can enter time later.</p>
  </div>

  <div class="col-md-3" style="margin-bottom: 60px;">
    <div class="small-text">
      <i class="fa fa-lg fa-calendar fa-fw"></i>
      Solution for Companies
    </div>
    <p class="column-content">Time Traveler is built for companies. Your staff will be set up and running in minutes. It’s easy to use, no training needed.</p>
  </div>

  <div class="col-md-3" style="margin-bottom: 60px;">
    <div class="small-text">
      <i class="fa fa-lg fa-desktop fa-fw"></i>
      Offline Supporting
    </div>
    <p class="column-content">Your time entries are synced in real time. Even when you turn off the browser, your time is still tracked.</p>
  </div>

  <div class="col-md-3" style="margin-bottom: 60px;">
    <div class="small-text">
      <i class="fa fa-lg fa-line-chart fa-fw"></i>
      Report With Filter
    </div>
    <p class="column-content">Get an instant overview of your billable time and team progress. There are dozens of cool Pro features you’ll grow to love. </p>
  </div>
</section>

<section id="pricing" class="col-md-12 page-section pricing-section">
  <div class="layer"></div>
  <div class="col-md-12 big-text">Pricing</div>

  <div class="col-md-12 pricing-table pricing-three-column">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="plan">
        <div class="plan-name-bronze">
          <h2>Team size 10</h2>
          <h3>Free</h3>
        </div>
        <ul>
          <li class="plan-feature">Up to 2 Companies</li>
          <li class="plan-feature">Up to 4 Projects</li>
          <li class="plan-feature">Up to 10 Members</li>
          <li class="plan-feature">Up to 100 Tasks</li>
          <li class="plan-feature">
            <a href="#" class="btn btn-default btn-lg btn-submit"><i class="fa fa-lg fa-hand-peace-o"></i> Select</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="plan">
        <div class="plan-name-silver">
          <h2>Team size 30</h2>
          <h3>$19.99 / Month</h3>
        </div>
        <ul>
          <li class="plan-feature">Up to 6 Companies</li>
          <li class="plan-feature">Up to 12 Projects</li>
          <li class="plan-feature">Up to 30 Members</li>
          <li class="plan-feature">Up to 300 Tasks</li>
          <li class="plan-feature">24/7 Live Support</li>
          <li class="plan-feature">
            <a href="#" class="btn btn-default btn-lg btn-submit"><i class="fa fa-lg fa-hand-peace-o"></i> Select</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="plan">
        <div class="plan-name-gold">
          <h2>Team size 50</h2>
          <h3>$29.99 / Month</h3>
        </div>
        <ul>
          <li class="plan-feature">Unlimited Companies</li>
          <li class="plan-feature">Unlimited Projects</li>
          <li class="plan-feature">Unlimited Members</li>
          <li class="plan-feature">Unlimited Tasks</li>
          <li class="plan-feature">24/7 Live Support</li>
          <li class="plan-feature">Export Report</li>
          <li class="plan-feature">
            <a href="#" class="btn btn-default btn-lg btn-submit"><i class="fa fa-lg fa-hand-peace-o"></i> Select</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="about" class="col-md-12 page-section about-section">
  <div class="col-md-12 big-text">About us</div>

  <div class="col-md-12">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <a class="author-image img-circle" style='background-image: url("../images/dung.jpg");'></a>
      <p class="column-content" style="text-align: center;">
        <b>Name: </b><i>PHAM ANH DUNG</i>.
      </p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <a class="author-image img-circle" style='background-image: url("../images/thuan.jpg");'></a>
      <p class="column-content" style="text-align: center;">
        <b>Name: </b><i>NGUYEN DUY THUAN</i>.
      </p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <a class="author-image img-circle" style='background-image: url("../images/tri.jpg");'></a>
      <p class="column-content" style="text-align: center;">
        <b>Name: </b><i>PHAM NGUYEN MINH TRI</i>.
      </p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <a class="author-image img-circle" style='background-image: url("../images/phuoc.png");'></a>
      <p class="column-content" style="text-align: center;">
        <b>Name: </b><i>TRUONG AN PHUOC</i>.
      </p>
    </div>
  </div>
</section>

<section id="contact" class="col-md-12 page-section contact-section">
  <div class="layer"></div>
  <div class="col-md-12 big-text">Contact us</div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <form class="form-horizontal" role="form" name="contactForm" id="contact-form" ng-submit="contactForm.$valid && submitContactForm()" novalidate>
      <div class="form-group">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-file-o fa-fw"></i></span>
          <input type="text" name="contactSubject" class="form-control" placeholder="Subject" ng-model="formContactData.contactSubject" ng-minlength="3" ng-maxlength="255" ng-required="true">
        </div>
        <div ng-messages="contactForm.contactSubject.$error">
          <p ng-message="minlength" class="help-block align-left"><i>Subject must be more than 3 characters.</i></p>
          <p ng-message="maxlength" class="help-block align-left"><i>Subject must be less than 255 characters.</i></p>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
          <input type="email" name="contactEmail" class="form-control" placeholder="Your email" ng-model="formContactData.contactEmail" ng-pattern="/^\w+\@\w+\.\w+$/i" ng-required="true">
        </div>
        <p ng-show="contactForm.contactEmail.$invalid && 
                      !contactForm.contactEmail.$pristine &&
                      contactForm.contactEmail.$error.pattern" class="help-block align-left"><i>Please enter a valid email address.</i></p>
      </div>
      
      <div class="form-group">
        <textarea name="contactMessage" class="form-control" placeholder="Enter your message here..." ng-model="formContactData.contactMessage" ng-required="true"></textarea>
        <p ng-show="contactForm.contactMessage.$invalid && contactForm.contactMessage.$dirty" class="help-block align-left"><i>Please leave a message</i></p>
      </div>
      
      <!-- loading -->
      <div ng-show="loading">
        <h4>Please wait...</h4>
        <div class="progress" >
            <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 100%"></div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 style="color: #fff;"><i>{{ formContactResponse }}</i></h4>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-default btn-lg btn-submit">
          <i class="fa fa-send-o"></i> Submit
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-12">
    <center><a><i class="fa fa-2x fa-angle-down" id="secret-subscribe" ng-click="showSubscribe()"></i></a></center>
  </div>
</section>

<section id="subscribe" class="col-md-12 page-section subscribe-section">
  <h2>Surprise ! You've found our little secret !</h2>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <form class="form-horizontal" name="subscribeForm" ng-submit="subscribeForm.$valid && submitSubscribeForm()" novalidate>
      <div class="form-group">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
          <input type="email" class="form-control" name="subscribeEmail" ng-model="subscribeEmail" placeholder="Enter your email to subscribe" ng-pattern="/^\w+\@\w+\.\w+$/i" required/>
        </div>
        <p ng-show="subscribeForm.subscribeEmail.$invalid && 
                    !subscribeForm.subscribeEmail.$pristine &&
                    subscribeForm.subscribeEmail.$error.pattern" class="help-block align-left "><i>Please enter a valid email address.</i></p>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-default btn-lg btn-submit"><i class="fa fa-send-o"></i> Submit</button>
      </div>
    </form>
  </div>
  <div class="col-md-2"></div>
</section>
