<div class="col-md-12 col-sm-12 col-xs-12 page-section manage-user-section" ng-init="loadingInit();">
	<div cg-busy="{promise:manageUserPromise,backdrop:true,minDuration:1000,templateUrl:'views/loadingTemplate.html'}"></div>
  	<div class="col-md-12 col-sm-12 col-xs-12 page-title">
		<h1>User Management</h1>
	</div>
  	<!-- control panel of manage-user table -->
  	<div class="col-md-12 col-sm-12 col-xs-12 manage-user-control">
	  	<div class="col-md-1 col-sm-1 col-xs-12"></div>
	  	<div class="col-md-3 col-sm-3 col-xs-12 align-left view-status">
	  		<button class="btn btn-submit" ng-click="setActiveAll()">Active/Deactive</button>
			<select id="select-status" ng-change="changeStatus()" ng-model="selectedStatus">
				<option value="" id="select-all" selected>All status</option>
				<option value="1" id="select-active">Active ({{ numberOfActive }})</option>
				<option value="0" id="select-inactive">Inactive ({{ numberOfInactive }})</option>
			</select>
	  	</div>
	    <div class="col-md-4 col-sm-4"></div>
	    <div class="col-md-3 col-sm-3 col-xs-3">
			<form class="navbar-form search-box" role="search">
			    <div class="input-group add-on">
			    	<span class="fa fa-search fa-fw"></span>
			      	<input class="form-control" placeholder="Search" ng-model="searchFilter" name="srch-term" id="srch-term" type="text">
			    </div>
			</form>
		</div>
	    <div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>

	<!-- manage-user table -->
	<div class="col-md-12 col-sm-12 col-xs-12">
		<h4 style="color: red">{{ manageUserResponse }}</h4>
	</div>
	<div class="col-md-12">
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
		<div class="col-md-10 table-overflow">
			<table class="table table-bordered table-hover table-responsive" id="manage-user-table">
			    <thead>
					<tr>
						<th width="5%" class="table-data-edit-all">
							<!-- <button class="btn btn-default btn-submit" ng-model="selectAll" ng-click="selectAll()">All</button> -->
							<input type="checkbox" ng-change="selectAll()" ng-model="toggleInput">
						</th>
						<th width="35%" class="align-left">
							<a href="" ng-click="order('email')">
								User's email
								<span class="sortorder" ng-show="predicate === 'email'" ng-class="{reverse:reverse}"></span>
							</a>
						</th>
						<th width="30%" class="align-left" style="padding: 12px;">
							<!-- <a href="" ng-click="order('lastLogin')">
								Last login
								<span class="sortorder" ng-show="predicate === 'lastLogin'" ng-class="{reverse:reverse}"></span>
							</a> -->
							Last login
						</th>
						<th width="10%" class="align-left">
							<a href="" ng-click="order('role')">
								Role
								<span class="sortorder" ng-show="predicate === 'role'" ng-class="{reverse:reverse}"></span>
							</a>
						</th>
						<th width="10%" class="align-left">
							<a href="" ng-click="order('status')">
								Status
								<span class="sortorder" ng-show="predicate === 'status'" ng-class="{reverse:reverse}"></span>
							</a>
						</th>
						<th width="10%">
							Action
						</th>
					</tr>
				</thead>
			    <tbody>
			    	<tr dir-paginate="tdata in tableData | orderBy:predicate:reverse | filter:searchFilter | itemsPerPage:10 track by $index ">
			    		<td class="table-data-edit-all">
							<input type="checkbox" ng-model="tdata.selectedCell">
						</td>
						<td class="align-left">
							{{ tdata.email }}
						</td>
						<td class="align-left">
							{{ tdata.last_login }}
						</td>
						<td class="align-left">
							{{ tdata.role }}
						</td>
						<td class="align-left">
							{{ tdata.status }}
						</td>
						<td>
							<a ng-show="tdata.status === 'Active'" ng-click="setActive(tdata.user_id)"><i class="fa fa-unlock fw"></i></a>
							<a ng-hide="tdata.status === 'Active'" ng-click="setActive(tdata.user_id)"><i class="fa fa-lock fw"></i></a>
						</td>
					</tr>
			    </tbody>
			</table>
			<div class="align-right">
				<dir-pagination-controls
			        max-size="5"
			        direction-links="true"
			        boundary-links="true" >
			    </dir-pagination-controls>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>
</div>