<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a ng-hide="isLoggedIn" href="#/" scroll-to="main-home" duration="1000">Home</a>
        </li>

        <!-- if user not logged in -->
        <li ng-hide="isLoggedIn">
            <a href="#/#introduce" scroll-to="introduce" duration="1000">Introducing</a>
        </li>
        <li ng-hide="isLoggedIn">
            <a href="#/#pricing" scroll-to="pricing" duration="1000">Pricing</a>
        </li>
        <li ng-hide="isLoggedIn">
            <a href="#/#about" scroll-to="about" duration="1000">About Us</a>
        </li>
        <li ng-hide="isLoggedIn">
            <a href="#/#contact" scroll-to="contact" duration="1000">Contact Us</a>
        </li>

        <!-- if user logged in -->
        <li ng-show="isLoggedIn">
            <a ui-sref="timer">Timer</a>
        </li>
        <li ng-show="isLoggedIn">
            <a ui-sref="report">Report</a>
        </li>
        <li ng-show="isLoggedIn">
            <a ui-sref="company">Company</a>
        </li>
        <li ng-show="isLoggedIn">
            <a ui-sref="team">Team</a>
        </li>
        <li ng-show="isLoggedIn">
            <a ui-sref="project">Project</a>
        </li>
        <li>
            <a ui-sref="support">Support</a>
        </li>
    </ul>
</div>

