<div class="col-md-12 col-sm-12 col-xs-12 new-project-section" ng-init="loadingInit();">
	<div id="loading-backdrop" cg-busy="{promise:newProjectPromise,backdrop:true,minDuration:1000,templateUrl:'views/loadingTemplate.html'}"></div>
	<div class="col-md-12 col-sm-12 col-xs-12 page-title">
		<h1>Create a new Project</h1>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 new-project-form" style="overflow: hidden;">
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
		<div class="col-md-10 col-sm-12 col-xs-12 background-container">
		
			<form class="form-horizontal" role="form" name="formNewProject" novalidate>
				<!-- project name -->
			  	<div class="form-group">
			    	<label class="control-label col-sm-2">Project Name: </label>
			    	<div class="col-sm-10">
			      		<input type="text" class="form-control" name="projectName" ng-model="formNewProjectData.project_name" placeholder="Enter your project name." required>
			      		<p ng-show="formNewProject.projectName.$error.required &&
                                	formNewProject.projectName.$dirty" class="help-block align-left"><i>Project name cannot be empty</i></p>
			    	</div>
			  	</div>
			  	
				<!-- company name -->
			  	<div class="form-group" id="company">
			    	<label class="control-label col-sm-2">Company: </label>
			    	<div class="col-sm-10" >
						<select id="select-company" ng-change="changeCompany()" ng-model="selectedCompany" name="companies" required>
							<option value="" disabled selected>Select companies...</option>
							<option ng-repeat="company in availableCompanies track by $index" value="{{ company.company_id }}" >{{ company.company_name }}</option>
						</select>
			    	</div>
			  	</div>

			  	<!-- client name -->
			  	<div class="form-group" id="client">
				    <label class="control-label col-sm-2">Client (Only ONE): </label>
				    <div class="col-sm-10">
						<ui-select 	multiple 
									tagging tagging-label=" - new Client"
									limit="1"
									ng-model="formNewProjectData.client_name" 
									theme="bootstrap" 
									title="Choose a client"
									required>
						    <ui-select-match placeholder="Select clients...">{{ $item }}</ui-select-match>
						    <ui-select-choices repeat="client in availableClients | filter:$select.search">
						      	{{ client }}
						    </ui-select-choices>
						</ui-select>
			    	</div>
			  	</div>

			  	<!-- project color -->
			  	<div class="form-group">
			    	<label class="control-label col-sm-2">Color: </label>
				    <div class="col-sm-10">
			      		<!-- Color of Project -->
						<div class="col-md-1 col-sm-1 col-xs-1">
							<div class="dropdown" id="project-color">
								<button class="dropdown-toggle" 
										id="project-color-picker-btn" 
										data-toggle="dropdown" 
										aria-haspopup="true" 
										aria-expanded="true"
										nng-disabled="formNewProject.companies.$pristine">
									<div class="col-sm-4" id="project-color-div" ng-style="{ 'background-color': '{{ formNewProjectData.project_color }}' }"></div>
								</button>
								<div class="dropdown-menu">
									<!-- Color Table -->
									<div class="row">
										<div class="col-sm-12 color-row">
											<div ng-repeat="i in [0,1,2,3]">
												<div class="col-sm-2 project-color-div">
													<button id="color{{i}}" style="background-color:{{projectColorRow[i]}}" ng-click="setProjectColor({{i}})"></button>
												</div>
												<div class="col-sm-1"></div>
											</div>
										</div>
										<div class="col-sm-12 color-row">
											<div ng-repeat="i in [4,5,6,7]">
												<div class="col-sm-2 project-color-div">
													<button id="color{{i}}" style="background-color:{{projectColorRow[i]}}" ng-click="setProjectColor({{i}})"></button>
												</div>
												<div class="col-sm-1"></div>
											</div>
										</div>
										<div class="col-sm-12 color-row">
											<div ng-repeat="i in [8,9,10,11]">
												<div class="col-sm-2 project-color-div">
													<button id="color{{i}}" style="background-color:{{projectColorRow[i]}}" ng-click="setProjectColor({{i}})"></button>
												</div>
												<div class="col-sm-1"></div>
											</div>
										</div>
										<div class="col-sm-12 color-row">
											<div ng-repeat="i in [12,13,14,15]">
												<div class="col-sm-2 project-color-div">
													<button id="color{{i}}" style="background-color:{{projectColorRow[i]}}" ng-click="setProjectColor({{i}})"></button>
												</div>
												<div class="col-sm-1"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
			    	</div>
			  	</div>
				
				<div class="form-group" id="team">
					<label class="control-label col-sm-2">Project manager: </label>
				    <div class="col-sm-10">
				    	<p>{{ formNewProjectData.projectManager }}</p>
				    </div>
				</div>

			  	<!-- team members of project -->
			  	<div class="form-group" id="team">
			    	<label class="control-label col-sm-2">Team: </label>
				    <div class="col-sm-10">
						<ui-select multiple
								tagging-tokens="SPACE|,|/" 
								ng-model="formNewProjectData.members" 
								theme="bootstrap"
								required>
						    <ui-select-match placeholder="Select member...">{{ $item.email }}&gt;</ui-select-match>
						    <ui-select-choices repeat="member in availableMembers | propsFilter: {email: $select.search}">
						      	<div ng-if="member.isTag" ng-bind-html="member.name + ' ' + $select.taggingLabel | highlight: $select.search"></div>
						      	<div ng-if="!member.isTag" ng-bind-html="member.name | highlight: $select.search"></div>
						      	<small>
						        	{{ member.email }}
						      	</small>
						    </ui-select-choices>
						</ui-select>
			    	</div>
			  	</div>
				
				<!-- project description -->
				<div class="form-group">
			    	<label class="control-label col-sm-2">Description: </label>
				    <div class="col-sm-10">
			      		<textarea class="form-control" ng-model="formNewProjectData.desc" placeholder="Describe your project..."></textarea>
			    	</div>
			  	</div>
				
				<!-- loading -->
				<div ng-show="loading" style="text-align: center;">
					<h3>Please wait...</h3>
					<div class="progress" >
					  	<div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 100%"></div>
					</div>
				</div>
				
				<h4>{{ formNewProjectResponse }}</h4>
				<h4 ng-show="createSuccess">
					You can continue to create another project or come back to <a href="#/project">Project Management Page</a>
				</h4>

			  	<div class="form-group create align-right">
			  		<button class="btn btn-lg btn-default" ng-click="cancelFormNewProject()">Cancel</button>
			  		<button class="btn btn-lg btn-submit" ng-disabled="formNewProject.$invalid" ng-click="submitFormNewProject()">Create</button>
			  	</div>
			</form>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>
</div>