<div id="profileModal" class="modal fade" ng-controller="ProfileCtrl" ng-init="loadingInit();">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Profile management</h4>
            </div>
            <div class="modal-body">
                <form name="profileForm">
                	<div class="form-group">
						<h4 ng-show="editMessage" style="color: {{ formProfileResponse.color }}; text-align: center">
							{{ formProfileResponse.message }}
						</h4>
					</div>
				    <div class="form-group">
				        <label>Email address</label>
				        <input type="email" class="form-control" ng-model="formProfile.email" disabled>
				    </div>
				    <div class="form-group">
				        <label for="exampleInputPassword1">New password</label>
				        <input type="password"  class="form-control input-lg" 
	                                            ng-model="formProfile.newPassword" 
	                                            name="newPassword"
	                                            id="newPassword" 
	                                            placeholder="New password" 
	                                            ng-minlength="8" 
	                                            ng-maxlength="255" 
	                                            ng-pattern="/^[a-zA-Z0-9!@#$%^&*_+=?]+$/i" 
	                                            required/>
	                    <div ng-messages="profileForm.newPassword.$error" role="alert">
	                      	<p ng-message="required" ng-if="profileForm.newPassword.$dirty" class="help-block align-right "><i>Password cannot be empty</i></p>
	                      	<p ng-message="minlength" class="help-block align-right "><i>Password must be more than 8 characters</i></p>
	                      	<p ng-message="maxlength" class="help-block align-right "><i>Password must be less than 255 characters</i></p>
	                      	<p ng-message="pattern" class="help-block align-right "><i>Password only contains characters, numbers and these special characters: !@#$%^&*_+=?</i></p>
	                    </div>
				    </div>
				    <div class="form-group">
				        <label for="exampleInputPassword1">New password again</label>
				        <input type="password"  class="form-control input-lg" 
	                                          	ng-model="formProfile.password_confirmation" 
	                                          	name="newPasswordAgain" 
	                                          	id="newPasswordAgain"
	                                          	placeholder="Password again" 
	                                          	ng-minlength="8" 
	                                          	ng-maxlength="255" 
	                                          	ng-pattern="/^[a-zA-Z0-9!@#$%^&*_+=?]+$/i" 
	                                          	pw-check="newPassword" 
	                                          	required/>
	                  	<div ng-messages="profileForm.newPasswordAgain.$error" role="alert">
		                    <p ng-message="required" ng-if="profileForm.newPasswordAgain.$dirty" class="help-block align-right "><i>Password cannot be empty</i></p>
		                    <p ng-message="minlength" class="help-block align-right "><i>Password must be more than 8 characters</i></p>
		                    <p ng-message="maxlength" class="help-block align-right "><i>Password must be less than 255 characters</i></p>
		                    <p ng-message="pattern" class="help-block align-right "><i>Password only contains characters, numbers and these special characters: !@#$%^&*_+=?</i></p>
		                    <p ng-message="pwmatch" ng-if="profileForm.newPasswordAgain.$dirty" class="help-block align-right "><i>Please confirm your password.</i></p>
	                  	</div>
				    </div>
				</form>
            </div>
            
            <!-- loading -->
          	<div ng-show="loading">
            	<h4 style="text-align: center;">Just a moment...</h4>
            	<div class="progress" >
                	<div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 100%"></div>
            	</div>
          	</div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-submit" ng-click="editProfile()" ng-disabled="profileForm.$invalid">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->