<div class="col-md-12 col-sm-12 col-xs-12 page-section project-section" ng-init="loadingInit();">
	<div cg-busy="{promise:projectPagePromise,backdrop:true,minDuration:1000,templateUrl:'views/loadingTemplate.html'}"></div>
  	<div class="col-md-12 col-sm-12 col-xs-12 page-title">
		<h1>Project Management</h1>
	</div>
  	<!-- control panel of project table -->
  	<div class="col-md-12 col-sm-12 col-xs-12 project-control">
	  	<div class="col-md-1 col-sm-1 col-xs-12"></div>
	  	<div class="col-md-2 col-sm-2 col-xs-12 align-left">
	  		<button class="btn btn-submit" style="width: 30%" ng-click="removeAll()">Delete</button>
	  		<button class="btn btn-submit" style="width: 65%" ng-click="newProject()">New Project</button>
	    </div>
	    <div class="col-md-2 col-sm-2 view-companies">
			<select id="select-company" ng-change="changeCompany()" ng-model="selectCompany">
				<!-- <option value="" disabled selected>Choose companies...</option> -->
				<option value="" id="select-all">All projects</option>
				<option ng-repeat="company in availableCompanies track by $index" value="{{ company.id }}">{{ company.company_name + ' (' + company.numberOfProject + ')' }}</option>
			</select>
	    </div>
	    <div class="col-md-3 col-sm-3"></div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<form class="navbar-form search-box" role="search">
			    <div class="input-group add-on">
			    	<span class="fa fa-search fa-fw"></span>
			      	<input class="form-control" placeholder="Search" ng-model="searchFilter" name="srch-term" id="srch-term" type="text">
			    </div>
			</form>
		</div>
	    <div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>

	<!-- project table -->
	<div class="col-md-12">
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
		<div class="col-md-10 table-overflow">
			<table class="table table-bordered table-hover table-responsive" id="project-table">
			    <thead>
					<tr>
						<th width="5%" class="table-data-edit-all">
							<input type="checkbox" ng-change="selectAll()" ng-model="toggleInput">
						</th>
						<th width="25%" class="align-left">
							<a href="" ng-click="order('projectName')">
								Project name
								<span class="sortorder" ng-show="predicate === 'projectName'" ng-class="{reverse:reverse}"></span>
							</a>
						</th>
						<th width="10%" class="align-left">
							<a href="" ng-click="order('client')">
								Client
								<span class="sortorder" ng-show="predicate === 'client'" ng-class="{reverse:reverse}"></span>
							</a>
						</th>
						<th width="5%" class="align-center">
							Color
						</th>
						<th width="25%" style="padding: 12px;">
							Team
						</th>
						<th width="25%" style="padding: 12px;">
							Description
						</th>
						<th width="5%">
							Action
						</th>
					</tr>
				</thead>
			    <tbody>
			    	<tr dir-paginate="tdata in tableData | orderBy:predicate:reverse | filter:searchFilter | itemsPerPage:10 track by $index ">
			    		<td class="table-data-edit-all">
							<input type="checkbox" ng-change="selectOne(tdata.id)" id="selectedCell-{{tdata.id}}" ng-model="tdata.selectedCell">
						</td>
						<td class="align-left">
							{{ tdata.projectName }}
						</td>
						<td class="align-left">
							{{ tdata.client }}
						</td>
						<td class="align-left">
							<div style="background-color: {{tdata.color}};" id="project-color"></div>
						</td>
						<td class="align-left">
							<div ng-repeat="member in tdata.team track by $index">
								{{ member.email }} <br>
							</div>
						</td>
						<td class="align-left">
							{{ tdata.desc }}
						</td>
						<td>
							<a ng-click="editProject(tdata.id)"><i class="fa fa-edit"></i></a>
							<a ng-click="removeProject(tdata.id)"><i class="fa fa-remove"></i></a>
						</td>
					</tr>
			    </tbody>
			</table>
			<div class="align-right">
				<dir-pagination-controls
			        max-size="5"
			        direction-links="true"
			        boundary-links="true" >
			    </dir-pagination-controls>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>

	<div dw-loading="users" dw-loading-options="{text: 'Loading users...'}" class="users-list">
  		<p ng-repeat="user in users">{{user.name}}</p>
	</div>
</div>