<div class="col-md-12 col-sm-12 col-xs-12 page-section report-section" ng-init="loadingInit();">
	<div cg-busy="{promise:reportPromise,backdrop:true,minDuration:1000,templateUrl:'views/loadingTemplate.html'}"></div>
  	<div class="col-md-12 col-sm-12 col-xs-12 page-title">
		<h1>Report</h1>
	</div>
	
	<div class="col-md-1 col-sm-1 col-xs-12"></div>
	<div class="col-md-10 col-sm-10 col-xs-12" id="filter-region">
        <div class="col-md-12 align-left"> 
            <div class="btn-group group-filter col-md-6" role="group" aria-label="...">
			    <div 	class="group-filter-child company-child"
			    		ng-dropdown-multiselect=""
				 		options="companyData"
				 		selected-model="reportData.companyModel"
				 		extra-settings="companySettings"
				 		group-by="own"
				 		translation-texts="companyText"
				 		events="changeCompany"> 
				</div>
				<div 	class="group-filter-child team-child"
						ng-dropdown-multiselect=""
				 		options="teamData"
				 		selected-model="reportData.teamModel"
				 		extra-settings="teamSettings"
				 		group-by="own"
				 		translation-texts="teamText"
				 		events="changeTeam"> 
				</div>
				<div 	class="group-filter-child project-child"
						ng-dropdown-multiselect=""
				 		options="projectData"
				 		selected-model="reportData.projectModel"
				 		extra-settings="projectSettings"
				 		group-by="own"
				 		translation-texts="projectText"
				 		events="changeProject"> 
				</div>
				<!-- <div 	class="group-filter-child"
						ng-dropdown-multiselect=""
				 		options="clientData"
				 		selected-model="reportData.clientModel"
				 		extra-settings="clientSettings"
				 		translation-texts="clientText"
				 		events="changeClient"> 
				</div> -->
			</div>
			<div class="col-md-4 description" role="group">
				<input date-range-picker class="date-picker" type="text" ng-model="datePicker.date"/>
			</div>
			<div class="col-md-2" role="group">
			    <button class="btn btn-submit btn-apply" ng-click="applyFilter()">Apply</button>
			</div>
        </div>
	</div>
	<div class="col-md-1 col-sm-1 col-xs-12"></div>

	<div ng-show="showChartTable" class="col-md-12 col-sm-12 col-xs-12 report-control">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h1>Detail statics</h1>
		</div>

		<div class="col-md-12" style="margin-bottom: 10px;">
			<div class="col-md-8"></div>
			<div class="col-md-3">
				<form class="navbar-form search-box" role="search">
				    <div class="input-group add-on">
				    	<span class="fa fa-search fa-fw"></span>
				      	<input class="form-control" placeholder="Search" ng-model="searchFilter" name="srch-term" id="srch-term" type="text">
				    </div>
				</form>
			</div>
			<div class="col-md-1"></div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-1"></div>
			<div class="col-md-10 chart-content">
				<table class="table table-bordered table-hover table-responsive" id="chart-table">
				    <thead>
						<tr>
							<th width="75%" class="align-left">
								<a href="" ng-click="order('{{ itemName }}')">
									{{ itemName }}
									<span class="sortorder" ng-show="predicate === '{{ itemName }}'" ng-class="{reverse:reverse}"></span>
								</a>
							</th>
							<th width="25%" style="padding: 12px;">
								Total time
							</th>
						</tr>
					</thead>
				    <tbody>
				    	<tr dir-paginate="tdata in tableData | orderBy:predicate:reverse | filter:searchFilter | itemsPerPage:10 track by $index ">
							<td class="align-left">
								{{ tdata.itemName }}
							</td>
							<td>
								{{ tdata.totalHours }}
							</td>
						</tr>
				    </tbody>
				</table> 
				<div class="align-right">
					<dir-pagination-controls
				        max-size="5"
				        direction-links="true"
				        boundary-links="true" >
				    </dir-pagination-controls>
				</div>		
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	
	<div class="col-md-12 col-sm-12 col-xs-12 report-control">
		<div class="col-md-1"></div>
		<div class="col-md-10 chart-content" >
			<!-- total task time -->
			<div class="col-md-12 background-container">
				<div class="col-md-3 chart-side">
					<h3 class="chart-title">Task's time</h3>
					<p class="chart-desc align-left">Total hours of finished tasks</p>
					<p class="chart-desc align-left" style="color: #f06722;">
						Unit:
						<div class="btn-group">
					        <label class="btn btn-default" ng-model="taskTime.unit" uib-btn-radio="'hour'" ng-click="changeTaskTimeUnit()">Hours</label>
					        <label class="btn btn-default" ng-model="taskTime.unit" uib-btn-radio="'minute'" ng-click="changeTaskTimeUnit()">Minutes</label>
					    </div>
					</p>
				</div>
				<div class="col-md-9 chart-wrapper">
					<canvas id="bar" 
							class="chart chart-bar"
					  		chart-data="taskTimeData" 
					  		chart-labels="taskTimeLabels">
					</canvas>
				</div>
			</div>			
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
