<div class="col-md-12 col-sm-12 col-xs-12 page-section support-section" ng-init="loadingInit();">
  	<div class="col-md-12 col-sm-12 col-xs-12 page-title">
		<h1>Support</h1>
	</div>
  	<!-- button control for table -->
	<div class="col-md-12 support-table-control">
		<div class="col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-md-10 col-sm-10 col-xs-10">
			<form class="navbar-form search-box" role="search">
			    <div class="input-group add-on">
			      	<input class="form-control" placeholder="Search" ng-model="searchFilter" name="srch-term" id="srch-term" type="text">
			    </div>
			</form>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-1"></div>
	</div>

	<!-- support table -->
	<div class="col-md-12">
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
		<div class="col-md-10 table-overflow">
			<div cg-busy="{promise:supportPromise,backdrop:true,minDuration:1000,templateUrl:'views/loadingTemplate.html'}"></div>
			<div class="col-md-4" id="support-question">
				<div class="btn-group" style="width: 100%">
					<label 	ng-repeat="tdata in tableData | filter:searchFilter track by $index" 
							class="btn btn-question" 
							ng-model="$parent.radioModel" 
							ng-click="changeQuestion(tdata.id)"
							uib-btn-radio="{{ tdata.id }}" uncheckable>{{ tdata.question }}</label>
			    </div>
			</div>
			<div class="col-md-8" id="support-answer">
				<div class="answer-content">
					<!-- Answer  -->
					<div id="answer-1">
						<h1 class="col-md-12" style="margin-bottom: 20px;">Tasks Usage Instructions</h1>
						<!-- Introducing -->
						<div class="col-md-12 col-sm-12 col-xs-12">
						    <div class="col-md-12 medium-text">
						      THE ULTIMATE TIMER. IT'S INSANELY SIMPLE.
						    </div>
						    <div class="col-md-4 col-sm-4 col-xs-2"></div>
						    <div class="col-md-4 col-sm-4 col-xs-8" style="color:#000; line-height:2em;">
						      The time tracker is built for speed and ease of use. Time keeping is so simple that you’ll actually use it. It is the heart of timesheets.
						    </div>
						    <div class="col-md-4 col-sm-4 col-xs-2"></div>
						</div>
						<h3 class="col-md-12" style="margin-bottom: 20px; text-align: left;"> >> <u>1: Create a new task</u></h3>
						<div class="col-md-12 col-sm-12 col-xs-12 timer-page">
						    <div class="col-md-12 col-sm-12 col-xs-12 input-group">
							    <!-- Task Partial -->
							    <div class="col-md-5 col-sm-5 col-xs-12">
							        <span class="input-group-addon">
							          <input type="text" class="form-control" id="task-content" ng-model="taskContent" placeholder="Time tracking feature">
							        </span>
							    </div>
								<!-- Project Partial -->
								<div class="col-md-2 col-sm-2 col-xs-12">
									<div class="dropdown">
										<span class="input-group-addon input-group-btn">
											<button class="btn btn-submit" id="project-btn">{{projectBtnName}}</button>
										</span>
										<div class="dropdown-menu scrollable-menu" id="project-container">
											<div style="text-align: center;">
												<li><a href="#" ng-click="setProjectName('','default')"><h5>No project</h5></a></li>
												<div ng-repeat="availCompany in availableProjects" style="margin: 20px 0px;">
													<li role="separator" class="divider"></li>
													<li class="align-left"><h6><i>{{availCompany.name}}'s Projects</i></h6></li>
													<li role="separator" class="divider"></li>
													<li ng-repeat="availProject in availCompany.projects" class="align-right">
														<a href="#" ng-click="setProjectName('{{availProject.projectName}}', '{{availProject.projectColor}}')">
															<h5>{{availProject.projectName}}</h5>
														</a>
													</li>
												</div>
												<li role="separator" class="divider"></li>
												<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> CREATE PROJECT</a>
											</div>			
										</div>
									</div>
								</div>
							    <!-- Time Counter Partial -->
							    <div class="col-md-3 col-sm-3 col-xs-12">
							        <span class="input-group-addon input-group-counter" id="stopwatch">
							            <input type="text" class="form-control" id="datetime-picker" ng-model="taskTime" value="00:00:00">
							        </span>
							    </div>
							    <div class="col-md-2 col-sm-2 col-xs-12">
							        <span class="input-group-addon input-group-btn">
							          <button class="button" id="start" ng-click="startWatch()">Start</button>
							          <button class="button" id="stop" ng-click="stopWatch()">Stop</button>
							        </span>
							    </div>
						    </div>
						</div>
						<!-- Datetime Picker -->
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="col-md-1 col-sm-1 col-xs-1"></div>
							<div class="col-md-10 col-sm-10 col-xs-10">
								<div class="col-md-7 col-sm-7 col-xs-7"></div>
								<div class="col-md-2 col-sm-2 col-xs-2">
									<div class="dropdown">
									  	<div id="time-container" class="dropdown-menu">
											<div style="margin: 5px 10px;">
												<datetimepicker   hour-step="hourStep" 
															      minute-step="minuteStep" 
															      ng-model="date"
															      show-meridian="showMeridian" 
															      date-format="dd-MMM-yyyy" 
															      date-options="dateOptions"
															      readonly-date="false"
															      hidden-time="false"
															      hidden-date="false" 
															      show-spinners="true"
															      readonly-time="false">
												</datetimepicker>
											</div>
											<div style="text-align: center;">
												<button class="btn btn-danger" id="datetimepicker-done-btn">Done</button>
												<button class="btn btn-success" id="datetimepicker-cancel-btn" ng-click="dateTimePicker()">Cancel</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-3"></div>
							</div>
							<div class="col-md-1 col-sm-1 col-xs-1"></div>
						</div>
						<!-- Dialog Creating Instructions -->
						<div class="col-md-2 col-sm-2 col-xs-12">
							<div class="dialog" id="answer1-dialog1">
								<div class="title">Input task name which you will work with.</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12"></div>
						<div class="col-md-2 col-sm-2 col-xs-12">
							<div class="dialog" id="answer1-dialog2">
								<div class="title">Select a project which contains the task.</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12">
							<div class="dialog" id="answer1-dialog3">
								<div class="title">Your task will be counted when starting or you can choose when a task starts and how much time of a task.</div>
							</div>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-12"></div>
						<div class="col-md-2 col-sm-2 col-xs-12">
							<div class="dialog" id="answer1-dialog4">
								<div class="title">Let's click to start.</div>
							</div>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-12"></div>

						<h3 class="col-md-12" style="margin: 40px 0px 20px 0px; text-align: left;"> >> <u>2: Resume, stop and delete a task</u></h3>
						<!-- Table -->
						<div class="col-md-12">
							<div class="col-md-12 col-sm-12 col-xs-12 table-overflow">
								<table class="table table-bordered table-hover table-responsive" id="timer-table">
									<thead>
										<tr style="text-align: center;">
											<th width="20%" style="text-align: center;"> 
												Task name
											</th>
											<th width="15%" style="text-align: center;">
												Project
											</th>
											<th width="12%" style="text-align: center;">
												Duration
											</th>
											<th width="13%" style="text-align: center;">
												Date
											</th>
											<th width="15%" style="text-align: center;">
												Time interval
											</th>
											<th width="10%" style="text-align: center;">
												Action
											</th>
										</tr>
									</thead>
									<tbody>
										<tr id="current-selected-1">
											<td class="no-padding">
												<a class="dropdown-task">
													Task 1
												</a>
											</td>
											<td>
												<div style="color:black; background-color: #DF7BAA; padding-left: 5px;">
													Project 1
												</div>
											</td>
											<td>
												30s
											</td>
											<td>
												Dec, 10 - 11
											</td>
											<td>
												23:59:40 - 00:00:10
											</td>
											<td style="border: 1px solid #ddd">
												<a id="resumeBtn-1" style="cursor: pointer;" ng-click="resumeTask()"><i class="fa fa-play fa-fw"></i></a>
												<a id="pauseBtn-1" ng-click="pauseTask()" style="display:none; cursor: pointer; padding-right: 9px;"><i class="fa fa-stop"> </i></a>
												<a class="enabled" style="cursor: pointer;" id="removeBtn-1" ng-click="removeTask()"><i class="glyphicon glyphicon-remove"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- Dialog Resuming Instructions -->
							<div class="col-md-8 col-sm-8 col-xs-12"></div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<div class="dialog" id="answer1-dialog5" style="width: 130px;">
									<div class="title">Click here to resume the task.</div>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<div class="dialog" id="answer1-dialog6" style="width: 130px;">
									<div class="title">Click here to delete the task.</div>
								</div>
							</div>
						</div>
						<h3 class="col-md-12" style="margin: 0px; text-align: left;"> >> <u>3: Add a task that was started</u></h3>
						<div class="col-md-12 col-sm-12 col-xs-12 new-project-form">
							<img ng-src="{{images.answer1Pic1}}" alt="Create new Project">
						</div>
					</div>
					<div id="answer-2">
						<h1 class="col-md-12" style="margin-bottom: 20px;">Companies Usage Instructions</h1>
						<!-- Introducing -->
						<h3 class="col-md-12" style="margin-bottom: 20px; text-align: left;"> >> <u>1: Create a new Company</u></h3>
						<h4 class="col-md-12" style="margin-bottom: 5px; text-align: left;">At the company page, click on <a href="#">New Company</a> Button</h4>
						<div class="col-md-12">
							<div class="col-md-3">
								<button class="btn btn-submit" id="new-company-btn">New company</button>
							</div>
						</div>
						<!-- Dialog Resuming Instructions -->
						<div class="col-md-2 col-sm-2 col-xs-12">
							<div class="dialog" id="answer2-dialog1" style="width: 150px;">
								<div class="title">Click here to create a new company.</div>
							</div>
						</div>
						<h4 class="col-md-12" style="margin: 20px 0px -10px 0px; text-align: left;">A form appears that allows user creating a new company</h4>
						<div class="col-md-12 col-sm-12 col-xs-12 new-project-form">
							<img ng-src="{{images.answer2Pic1}}" alt="Create new Project">
						</div>
						<h3 class="col-md-12" style="margin: 20px 0px; text-align: left;"> >> <u>2: Modify and delete a Company</u></h3>
						<h4 class="col-md-12" style="margin-bottom: 5px; text-align: left;">At the company page, click on <a href="#">Delete</a> Button or <a href="#">Edit</a> Button to delete or modify a company</h4>
						<div class="col-md-12 col-sm-12 col-xs-12 new-project-form">
							<img ng-src="{{images.answer2Pic2}}" alt="">
						</div>
					</div>
					<div id="answer-3">
						<h1 class="col-md-12" style="margin-bottom: 20px;">Projects Usage Instructions</h1>
						<!-- Introducing -->
						<h3 class="col-md-12" style="margin-bottom: 20px; text-align: left;"> >> <u>1: Create a new project</u></h3>
						<h4 class="col-md-12" style="margin-bottom: 20px; text-align: left;">At the project page, click on <a href="#">New Project</a> Button</h4>
						<div class="col-md-12">
							<div class="col-md-3">
								<button class="btn btn-submit" id="new-project-btn">New Project</button>
							</div>
						</div>
						<!-- Dialog Resuming Instructions -->
						<div class="col-md-2 col-sm-2 col-xs-12">
							<div class="dialog" id="answer3-dialog1" style="width: 150px;">
								<div class="title">Click here to create a new project.</div>
							</div>
						</div>
						<h4 class="col-md-12" style="margin: 20px 0px -10px 0px; text-align: left;">A form appears that allows user creating a new project</h4>
						<div class="col-md-12 col-sm-12 col-xs-12 new-project-form">
							<img ng-src="{{images.answer3Pic1}}" alt="">
						</div>
						<h3 class="col-md-12" style="margin: 20px 0px; text-align: left;"> >> <u>2: Modify and delete a Project</u></h3>
						<h4 class="col-md-12" style="margin-bottom: 0px; text-align: left;">At the project page, click on <a href="#">Delete</a> Button or <a href="#">Edit</a> Button to delete or modify a project</h4>
						<div class="col-md-12 col-sm-12 col-xs-12 new-project-form">
							<img ng-src="{{images.answer3Pic2}}" alt="">
						</div>
					</div>
					<div id="answer-4">
						<h1 class="col-md-12" style="margin-bottom: 20px;">Teams Usage Instructions</h1>
						<!-- Introducing -->
						<h3 class="col-md-12" style="margin-bottom: 20px; text-align: left;"> >> <u>1: Add a new member to a team</u></h3>
						<h4 class="col-md-12" style="margin-bottom: 20px; text-align: left;">At the team page, click on <a href="#">Add member</a> Button</h4>
						<div class="col-md-12">
							<div class="col-md-3">
								<button class="btn btn-submit" id="new-teammember-btn">Add member</button>
							</div>
						</div>
						<!-- Dialog Resuming Instructions -->
						<div class="col-md-2 col-sm-2 col-xs-12">
							<div class="dialog" id="answer4-dialog1" style="width: 150px;">
								<div class="title">Click here to add a new member to a team.</div>
							</div>
						</div>
						<h4 class="col-md-12" style="margin: 20px 0px -10px 0px; text-align: left;">A form appears that allows Admin adding a new member via email</h4>
						<div class="col-md-12 col-sm-12 col-xs-12 new-project-form">
							<img ng-src="{{images.answer4Pic1}}" alt="">
						</div>
						<h3 class="col-md-12" style="margin: 20px 0px; text-align: left;"> >> <u>2: Modify and delete team members</u></h3>
						<h4 class="col-md-12" style="margin-bottom: 0px; text-align: left;">At the team page, click on <a href="#">Delete</a> Button or <a href="#">Edit</a> Button to delete or modify a team member</h4>
						<div class="col-md-12 col-sm-12 col-xs-12 new-project-form">
							<img ng-src="{{images.answer4Pic2}}" alt="">
						</div>
					</div>
					<div id="answer-5">
						<h1 class="col-md-12" style="margin-bottom: 20px;">Reports Usage Instructions</h1>
						<!-- Introducing -->
						<h3 class="col-md-12" style="margin-bottom: 20px; text-align: left;"> >> <u>1: Report using multiple filter.</u></h3>
						<h4 class="col-md-12" style="margin-bottom: 20px; text-align: left;">At the report page, select on the company</h4>
						
						<h4 class="col-md-12" style="margin: 20px 0px -10px 0px; text-align: left;">And then select how much date that you want to report</h4>
						<div class="col-md-12 col-sm-12 col-xs-12 new-project-form">
							<img ng-src="{{images.answer5Pic1}}" alt="">
						</div>
					</div>
					<div id="answer-6">
						<h1 class="col-md-12" style="margin-bottom: 20px;">Change personal password</h1>
						<!-- Introducing -->
						<h3 class="col-md-12" style="margin-bottom: 20px; text-align: left;"> >> <u>1: Change personal password.</u></h3>
						<h4 class="col-md-12" style="margin-bottom: 20px; text-align: left;">At the navigation bar, select on your email and then select My account button</h4>
						
						<h4 class="col-md-12" style="margin: 20px 0px -10px 0px; text-align: left;">A form will appear that allows you changing your old password</h4>
						<div class="col-md-12 col-sm-12 col-xs-12 new-project-form">
							<img ng-src="{{images.answer6Pic1}}" alt="">
						</div>
					</div>
					<div id="answer-7">
						<h1 class="col-md-12" style="margin-bottom: 20px;">Get back your password</h1>
						<!-- Introducing -->
						<h3 class="col-md-12" style="margin-bottom: 20px; text-align: left;"> >> <u>1: At navigation bar, select on Login button</u></h3>
						<h4 class="col-md-12" style="margin-bottom: 0px; text-align: left;">Forgot password form where you get back your password will appear when you click on <a href="">Forgot password</a> button.</h4>
						<div class="col-md-12 col-sm-12 col-xs-12 new-project-form">
							<img ng-src="{{images.answer7Pic1}}" alt="">
						</div>
						<h4 class="col-md-12" style="margin: 20px 0px -10px 0px; text-align: left;">Enter your email to get your password back.</h4>
						<div class="col-md-12 col-sm-12 col-xs-12 new-project-form">
							<img ng-src="{{images.answer7Pic2}}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>
</div>