<div class="col-md-12 col-sm-12 col-xs-12 page-section team-section" ng-init="loadingInit();">
	<div cg-busy="{promise:teamPromise,backdrop:true,minDuration:1000,templateUrl:'views/loadingTemplate.html'}"></div>
  	<div class="col-md-12 col-sm-12 col-xs-12 page-title">
		<h1>Team Management</h1>
	</div>
  	<!-- button control for table -->
	<div class="col-md-12 table-control">
		<div class="col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-md-2 col-sm-2 col-xs-2 align-left">
			<button class="btn btn-submit" ng-click="removeAll()">Delete</button>
			<button class="btn btn-submit" type="submit" data-toggle="modal" data-target="#add-edit-member" ng-click="openModalNewMember()" style="width: 60%"> Add member
		</div>
		
		<!-- add/edit member modal -->
		<div class="modal fade" id="add-edit-member" role="dialog" aria-labelledby="myModalLabel">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
						<h3 class="modal-title">{{ formAddEditMemberData.title }} member <span class="close glyphicon glyphicon-remove" data-dismiss="modal"></span></h3>
					</div>
					<div class="modal-body">
						<div class="row">
							
							<form name="formAddEditMember" id="formAddEditMember" novalidate>
								<div class="input-group" style="width: 100%">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<span class="input-group-addon">
											<input type="email" ng-disabled="formAddEditMemberData.editMember" required class="form-control" ng-model="formAddEditMemberData.memberEmail" name="memberEmail" placeholder="Member's email..." ng-pattern="/([-!#-'*+\/-9=?A-Z^-~]+(\.[-!#-'*+\/-9=?A-Z^-~]+)*|([][^-~ \t]|(\\[\t -~]))+)@[0-9A-Za-z]([0-9A-Za-z-]{0,61}[0-9A-Za-z])?(\.[0-9A-Za-z]([0-9A-Za-z-]{0,61}[0-9A-Za-z])?)+/i">
										</span>
									</div>
									<p ng-show="formAddEditMember.memberEmail.$invalid && 
												formAddEditMember.memberEmail.$dirty &&
				                                formAddEditMember.memberEmail.$error.pattern" class="help-block align-right"><i>Please enter a valid email address.</i></p>
	                                <p ng-show="formAddEditMember.memberEmail.$error.required &&
                                				formAddEditMember.memberEmail.$dirty" class="help-block align-right"><i>Email cannot be empty</i></p>
								</div>
								<br>
								<div class="col-md-6 view-companies align-left">
									<p>Company (Owned):</p>
									<select id="select-company-owned" style="width: 100%"></select>
								</div>
								<div class="col-md-6 view-departments align-left">
									<p>Department:</p>
									<select id="select-department" style="width: 100%"></select>
								</div>
								<br> 
								<!-- Done Button -->
								<div class="col-md-10 col-sm-10"></div>
								<div class="col-md-2 col-sm-2 col-xs-4">
									<div class="modal-footer">
										<button type="button" class="btn btn-submit" ng-hide="formAddEditMemberData.editMember" ng-disabled="formAddEditMember.$invalid" ng-click="addMember()" data-dismiss="modal" >DONE</button>
										<button type="button" class="btn btn-submit" ng-show="formAddEditMemberData.editMember" ng-disabled="formAddEditMember.$invalid" ng-click="editMember(formAddEditMemberData.teammember_id)" data-dismiss="modal" >DONE</button>
									</div>
								</div>
							</form>
						</div>
					</div>
		        </div>
		    </div>
		</div>

		<div class="col-md-2 col-sm-2 view-companies" id="view-team-companies">
			<select id="select-company-all" ng-change="changeCompanyAll()" ng-model="selectedCompany">
				<!-- <option value="" disabled selected>Choose companies...</option> -->
				<option value="" id="select-all" selected>All companies</option>
				<option ng-repeat="company in allCompanies track by $index" value="{{ company.id }}" >{{ company.company_name + ' (' + company.numberOfMember + ')' }}</option>
			</select>
			<!-- <select id="select-company-all" style="width: 100%"></select> -->
	    </div>
		<div class="col-md-3 col-sm-3 col-xs-3"></div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<form class="navbar-form search-box" role="search">
			    <div class="input-group add-on">
			    	<span class="fa fa-search fa-fw"></span>
			      	<input class="form-control" placeholder="Search" ng-model="searchFilter" name="srch-term" id="srch-term" type="text">
			    </div>
			</form>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-1"></div>
	</div>

	<!-- team table -->
	<div class="col-md-12">
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
		<div class="col-md-10 table-overflow">
			<table class="table table-bordered table-hover table-responsive" id="team-table">
			    <thead>
					<tr>
						<th width="5%" class="table-data-edit-all">
							<!-- <button class="btn btn-default btn-submit" ng-model="selectAll" ng-click="selectAll()">All</button> -->
							<input type="checkbox" ng-change="selectAll()" ng-model="toggleInput">
						</th>
						<th width="25%" class="align-left">
							<a href="" ng-click="order('email')">
								Member's email
								<span class="sortorder" ng-show="predicate === 'email'" ng-class="{reverse:reverse}"></span>
							</a>
						</th>
						<th width="17%" class="align-left" style="padding: 12px;">
							Company
						</th>
						<th width="18%" class="align-left" style="padding: 12px;">
							<!-- <a href="" ng-click="order('department')">
								Department
								<span class="sortorder" ng-show="predicate === 'department'" ng-class="{reverse:reverse}"></span>
							</a> -->
							Department
						</th>
						<th width="13%" class="align-left" style="padding: 12px;">
							<!-- <a href="" ng-click="order('role')">
								Role
								<span class="sortorder" ng-show="predicate === 'role'" ng-class="{reverse:reverse}"></span>
							</a> -->
							Role
						</th>
						<th width="10%" class="align-left">
							<a href="" ng-click="order('status')">
								Status
								<span class="sortorder" ng-show="predicate === 'status'" ng-class="{reverse:reverse}"></span>
							</a>
						</th>
						<th width="7%">
							Action
						</th>
					</tr>
				</thead>
			    <tbody>
			    	<tr dir-paginate="tdata in tableData | orderBy:predicate:reverse | filter:searchFilter | itemsPerPage:20 track by $index ">
			    		<td class="table-data-edit-all">
							<input type="checkbox" ng-change="selectOne(tdata.teammember_id)" ng-model="tdata.selectedCell" id="selectedCell-{{tdata.teammember_id}}">
						</td>
						<td class="align-left">
							{{ tdata.email }}
						</td>
						<td class="align-left">
							{{ tdata.company_name }}
						</td>
						<td class="align-left">
							{{ tdata.department }}
						</td>
						<td class="align-left">
							{{ tdata.company_ad }}
						</td>
						<td class="align-left">
							{{ tdata.status }}
						</td>
						<td>
							<a ng-click="openModalEditMember(tdata.teammember_id)" ><i class="fa fa-edit"></i></a>
							<a ng-click="removeMember(tdata.teammember_id)"><i class="fa fa-remove"></i></a>
						</td>
					</tr>
			    </tbody>
			</table>
			<div class="align-right">
				<!-- <uib-pagination total-items="totalItems" 	
								items-per-page="10"
								ng-model="currentPage" 
								max-size="maxSize" 
								class="pagination-sm" 
								boundary-links="true" 
								rotate="false" 
								num-pages="numPages"
								ng-change="pageChanged()">
				</uib-pagination> -->
				<dir-pagination-controls
			        max-size="5"
			        direction-links="true"
			        boundary-links="true" >
			    </dir-pagination-controls>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>
</div>