<div class="container-fluid" ng-init="loadingInit();">
	<div class="col-md-12 project-section">
		<div cg-busy="{promise:timerPromise,message:'Loading your data...',backdrop:true,minDuration:1000,templateUrl:'views/loadingTemplate.html'}"></div>
		<div class="timer-page" style="margin: 100px auto">
			<!-- timer bar -->
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12 input-group">
				
					<!-- Modal Invitation-->
					<div id="myModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">

					    <!-- Modal content-->
					    <div class="modal-content"  style="border-radius:0px;">
					      <div class="modal-header" style="background-color: #f06722; color: white;">
					        <button type="button" class="close" data-dismiss="modal" style="font-size: 40px;">&times;</button>
					        <h3 class="modal-title">Invitation!</h3>
					      </div>
					      <div class="modal-body">
					      	<div ng-repeat="invitation in invitationList track by $index" style="text-align:center">
					      		<div class="row" style="margin:5px 0px;" id="notification-{{$index}}">
					      			<div class="col-md-2 col-sm-2 col-xs-2" style="margin:5px 0px;">
					      				<img src="http://icons.iconarchive.com/icons/alecive/flatwoken/128/Apps-Notifications-icon.png" height="50px" width="50px" alt="Notification Icon">
					      			</div>
					      			<div class="col-md-10 col-sm-10 col-xs-10 notification-div">
					      				<div class="col-md-8 col-sm-8 col-xs-8" style="text-algin:center">
						      				<span style="color:#FF0000">{{invitation.email}}<span><br>
								      		invited you to join their company: <br>
								      		<span style="color:#FF0000">"{{invitation.company_name}}"<span>
						      			</div>
						      			<div class="col-md-4 col-sm-4 col-xs-4" style="margin: 20px 0px;" >
						      				<button class="btn btn-danger" style="border-radius:0px;" ng-click="confirmInvitation({{$index}}, invitation.id, 1)">Join</button>
							      			<button class="btn btn-default" style="border-radius:0px;" ng-click="confirmInvitation({{$index}}, invitation.id, 0)">Decline</button>
						      			</div>
									</div>
						      	</div>
					      	</div>
					      </div>
					    </div>
					  </div>
					</div>

					<!-- Task Partial -->
					<div class="col-md-5 col-sm-5 col-xs-12">
						<span class="input-group-addon">
							<input type="text" class="form-control" id="task-content" ng-model="taskContent" placeholder="What are you working on?">
						</span>
					</div>

					<!-- Project Partial -->
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="dropdown">
							<span class="input-group-addon input-group-btn">
								<button class="btn btn-submit" id="project-btn">{{projectBtnName}}</button>
							</span>
							<div class="dropdown-menu scrollable-menu" id="project-container">
								<div style="text-align: center;">
									<li><a href="#" ng-click="setProjectName('','','default')"><h5>No project</h5></a></li>
									<div ng-repeat="availCompany in availableProjects" style="margin: 20px 0px;">
										<li role="separator" class="divider"></li>
										<li class="align-left"><h6><i>{{availCompany.companyName}}'s Projects</i></h6></li>
										<li role="separator" class="divider"></li>
										<li ng-repeat="availProject in availCompany.projects" class="align-right">
											<a href="#" ng-click="setProjectName({{availProject.projectId}},'{{availProject.projectName}}', '{{availProject.projectColor}}')">
												<h5>{{availProject.projectName}}</h5>
											</a>
										</li>
									</div>
									<li role="separator" class="divider"></li>
									<a ui-sref="new-project"><span class="glyphicon glyphicon-plus"></span> CREATE PROJECT</a>
								</div>			
							</div>
						</div>
					</div>

					<!-- Time Counter Partial -->
					<div class="col-md-2 col-sm-2 col-xs-12">
				        <span class="input-group-addon input-group-counter" id="stopwatch">
				            <input type="text" class="form-control" id="datetime-picker" ng-model="taskTime">
						</span>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12">
						<span class="input-group-addon input-group-btn">
							<button class="button" id="start" ng-click="startWatch()">Start</button>
				            <button class="button" id="stop" ng-click="stopWatch()">Stop</button>
						</span>
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<!-- Datetime Picker -->
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-10">
					<div class="col-md-8 col-sm-8 col-xs-8"></div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<div class="dropdown">
						  	<div id="time-container" class="dropdown-menu">
								<div style="margin: 5px 10px;">
									<datetimepicker   hour-step="hourStep" 
												      minute-step="minuteStep" 
												      ng-model="date"
												      show-meridian="showMeridian" 
												      date-format="dd-MMM-yyyy" 
												      date-options="dateOptions"
												      readonly-date="false"
												      hidden-time="false"
												      hidden-date="false" 
												      show-spinners="true"
												      readonly-time="false">
									</datetimepicker>
								</div>
								<div style="text-align: center;">
									<button class="btn btn-danger" id="datetimepicker-done-btn">Done</button>
									<button class="btn btn-success" id="datetimepicker-cancel-btn" ng-click="dateTimePicker()">Cancel</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2"></div>
				</div>
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
			</div>
			
			<!-- line break -->
			<div class="col-md-12">
				<p class="linebreak">
					<img src="../images/line.png" alt="">
				</p>
			</div>
			
			<!-- button control for table -->
			<div class="col-md-12 table-control">
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<button class="btn btn-submit" ng-click="removeCheckedTask()">Delete</button>
					<!-- <div class="btn-group" data-toggle="buttons">
					  	<label class="btn btn-submit active">
					    	<input type="radio" name="options" id="option1" autocomplete="off" checked> Day
					  	</label>
					  	<label class="btn btn-submit">
					    	<input type="radio" name="options" id="option2" autocomplete="off"> Week
					  	</label>
					</div> -->
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					<form class="navbar-form search-box" role="search">
					    <div class="input-group add-on" id="search-div">
					    	<span class="glyphicon glyphicon-search"></span>
					      	<input class="form-control" placeholder="Search" ng-model="searchFilter" name="srch-term" id="srch-term" type="text">
					    </div>
					</form>
				</div>
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
			</div>

			<!-- Table -->
			<div class="col-md-12">
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-10 table-overflow">
					<table class="table table-bordered table-hover table-responsive" id="timer-table">
						<thead>
							<tr>
								<th width="5%" class="table-data-edit-all">
									<!-- <button class="btn btn-default btn-submit" ng-model="selectAll" ng-click="selectAll()">All</button> -->
									<input type="checkbox" ng-change="selectAll()" ng-model="toggleInput">
								</th>
								<th width="29%">
									<a href="" ng-click="order('taskname')">
										Task name
										<span class="sortorder" ng-show="predicate === 'taskname'" ng-class="{reverse:reverse}"></span>
									</a>
								</th>
								<th width="15%">
									<a href="" ng-click="order('project')">
										Project
										<span class="sortorder" ng-show="predicate === 'project'" ng-class="{reverse:reverse}"></span>
									</a>
								</th>
								<th width="10%" style="padding: 12px;">
									Duration
								</th>
								<th width="13%" style="padding: 12px;">
									Date
								</th>
								<th width="15%" style="padding: 12px;">
									Time interval
								</th>
								<th width="6%" style="padding: 12px;">
									Action
								</th>
							</tr>
						</thead>
						<tbody>
							<tr dir-paginate="tdata in tableData | orderBy:predicate:reverse | filter:searchFilter | itemsPerPage:20 track by $index" id="current-selected-{{$index}}">
								<td class="table-data-edit-all" style="border: 1px solid #ddd">
									<input type="checkbox" id="checkBox-{{$index}}" ng-model="tdata.selectedCell">
								</td>
								<td class="no-padding">
									<a class="dropdown-task">
										{{ tdata.task }}
									</a>
								</td>
								<td>
									<div style="color:black; background-color: {{tdata.color}}; padding-left: 5px;">
										{{ tdata.project }}{{tdata.client}}
									</div>
								</td>
								<td>
									{{ tdata.duration }}
								</td>
								<td>
									{{ tdata.date }}
								</td>
								<td>
									{{ tdata.timeInterval }}
								</td>
								<td style="border: 1px solid #ddd">
									<a id="resumeBtn-{{$index}}" ng-click="resumeTask(tdata.id, tdata.timeEntryId)"><i class="fa fa-play fa-fw"></i></a>
									<a id="pauseBtn-{{$index}}" ng-click="pauseTask(tdata.timeEntryId)" style="display:none; cursor: pointer; padding-right: 9px;"><i class="fa fa-stop"> </i></a>
									<a class="enabled" id="removeBtn-{{$index}}" ng-click="removeTask(tdata.timeEntryId)"><i class="glyphicon glyphicon-remove"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="align-right">
						<dir-pagination-controls
					        max-size="5"
					        direction-links="true"
					        boundary-links="true" >
					    </dir-pagination-controls>
					</div>
				</div>
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
			</div>
			<!-- /.Table -->
		</div><!-- /.row -->
	</div>
</div>